@charset "UTF-8";
/*Variables*/
/*INDEX*/
.header {
  height: 103px;
  width: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/spices.jpg);
  background-size: cover;
  background-position-y: center; }
  .header__logo {
    margin: 0;
    justify-self: center; }
  .header__subtitulo {
    justify-self: left;
    align-self: center;
    font-family: 'Source Serif Pro', serif;
    color: #10626a;
    font-size: 25px;
    margin: 83px 0 0 70px;
    background-color: #e9ecef;
    border-radius: 7px;
    padding: 4px;
    text-align: center; }
  .header__titulo {
    color: #ad0010;
    justify-self: center;
    font-family: 'Dancing Script', cursive;
    align-self: flex-start;
    font-size: 100px;
    margin: 0 0 0 50px;
    transition: 2s; }
  .header__img {
    height: 150px; }
  .header__titulo:hover {
    transform: translate(40px, 10px); }

.section {
  margin: 0;
  background-image: url(../images/background4.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "izq centro der" "video1 video2 video3" "izq2 centro2 der2"; }

.novedades {
  grid-column: 1/4;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start; }
  .novedades a:hover {
    text-decoration: none;
    color: #667b96; }
  .novedades__titulo {
    position: relative;
    left: 8%; }
  .novedades__h2 {
    text-decoration: underline;
    color: white;
    margin: 3% 2% 0 25%;
    font-family: 'Playfair Display', serif;
    font-weight: 400; }
  .novedades__introduccion {
    font-family: 'DM Serif Display', serif;
    color: white;
    margin: 10% 0 0 0;
    background-color: #2b2525a3;
    border-radius: 5px;
    padding: 1%;
    text-align: center; }
  .novedades-izq {
    margin: 4% 0.7% 0 0;
    position: relative;
    width: 260px; }
    .novedades-izq__img {
      margin: 0 0 0 10%;
      border-right: 3px solid #162123;
      border-left: 3px solid #162123;
      border-top: 3px solid #162123;
      border-radius: 15px; }
    .novedades-izq__h6 {
      color: black;
      background-color: #fff;
      text-align: center;
      position: absolute;
      left: 33%;
      top: 46%;
      padding: 4px;
      border-radius: 20px;
      text-decoration-line: underline;
      font-family: 'DM Serif Display', serif;
      font-size: large; }
    .novedades-izq__cajaparrafo {
      font-weight: 400;
      margin: 0 0 0 20%;
      background: white;
      color: black;
      text-align: center;
      width: 80%;
      height: 70px;
      position: absolute;
      top: 52%;
      border-bottom: 2px solid #ad0010;
      border-radius: 5px; }
    .novedades-izq__parrafo {
      color: black;
      font-family: 'Source Serif Pro', serif;
      position: absolute;
      top: 58%;
      left: 33%;
      line-height: 120%;
      font-family: 'DM Serif Display', serif; }
  .novedades-centro {
    margin: 2% 1.5% 0 0;
    position: relative;
    width: 270px; }
    .novedades-centro__img {
      margin: 10% 0 0 12%;
      border-right: 3px solid #162123;
      border-left: 3px solid #162123;
      border-top: 3px solid #162123;
      border-radius: 15px; }
    .novedades-centro__h6 {
      color: black;
      background-color: #fff;
      text-align: center;
      position: absolute;
      right: 22.5%;
      top: 50%;
      padding: 4px;
      border-radius: 20px;
      text-decoration-line: underline;
      font-family: 'DM Serif Display', serif;
      font-size: large; }
    .novedades-centro__cajaparrafo {
      font-weight: 400;
      background: white;
      color: black;
      text-align: center;
      width: 85%;
      height: 75px;
      position: absolute;
      bottom: 20%;
      left: 19%;
      border-bottom: 2px solid #ad0010;
      border-radius: 5px; }
    .novedades-centro__parrafo {
      color: black;
      font-family: 'Source Serif Pro', serif;
      position: absolute;
      top: 58.5%;
      right: 0%;
      line-height: 120%;
      font-family: 'DM Serif Display', serif; }
  .novedades-der {
    margin: 2% 0 0 0;
    position: relative;
    width: 230px; }
    .novedades-der__img {
      height: 150px;
      margin: 12% 0 0 10%;
      border-right: 3px solid #162123;
      border-left: 3px solid #162123;
      border-top: 3px solid #162123;
      border-radius: 15px; }
    .novedades-der__h6 {
      color: black;
      background-color: #fff;
      text-align: center;
      position: absolute;
      margin: 0 7.5% 0% 0;
      top: 50%;
      right: 17%;
      padding: 4px;
      border-radius: 20px;
      text-decoration-line: underline;
      font-family: 'DM Serif Display', serif;
      font-size: large; }
    .novedades-der__cajaparrafo {
      width: 80.5%;
      height: 20%;
      left: 19%;
      position: absolute;
      bottom: 25%;
      border: 0;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: 0px;
      border-bottom: 2px solid #ad0010;
      border-radius: 5px;
      background: white; }
    .novedades-der__parrafo {
      color: black;
      position: absolute;
      top: 52%;
      right: 4%;
      line-height: 120%;
      font-family: 'DM Serif Display', serif; }

.abajoizq {
  grid-area: izq2;
  position: relative; }
  .abajoizq-panaderia__titulo {
    text-decoration: underline;
    color: white;
    margin: 0 0 0 2%;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    position: absolute;
    left: 9.5%;
    bottom: 10%;
    font-size: 1.8rem; }
    .abajoizq-panaderia__titulo:hover {
      text-decoration: none;
      color: #bf9115; }
  .abajoizq-panaderia__img {
    height: 250px;
    position: absolute;
    top: 12%;
    left: 10%;
    border-radius: 20px; }
  .abajoizq-panaderia__subtitulo {
    position: absolute;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0);
    bottom: 4%;
    left: 8.5%;
    font-family: 'DM Serif Display', serif; }
  .abajoizq-pattiserie__img {
    height: 250px;
    position: absolute;
    top: 12%;
    right: 10%;
    border-radius: 20px; }
  .abajoizq-pattiserie__titulo {
    text-decoration: underline;
    color: #8e3f3f;
    margin: 0 0 0 2%;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    position: absolute;
    right: 16.5%;
    top: 13%;
    font-size: 1.8rem; }
    .abajoizq-pattiserie__titulo:hover {
      text-decoration: none;
      color: #bf9115; }
  .abajoizq-pattiserie__subtitulo {
    position: absolute;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0);
    font-family: 'DM Serif Display', serif;
    left: 55%;
    top: 20%; }

.abajoder {
  grid-area: der2;
  position: relative; }
  .abajoder-cafe__img {
    height: 250px;
    border-radius: 20px;
    position: absolute;
    top: 12%;
    right: 10%; }
  .abajoder-cafe__titulo {
    text-decoration: underline;
    color: white;
    margin: 0 0 0 2%;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    position: absolute;
    right: 15.5%;
    bottom: 11%;
    font-size: 1.8rem; }
    .abajoder-cafe__titulo:hover {
      text-decoration: none;
      color: #bf9115; }
  .abajoder-cafe__subtitulo {
    position: absolute;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0);
    bottom: 5%;
    left: 18%;
    font-family: 'DM Serif Display', serif; }

/*ANIMACIONES ABAJO --> PANADERIA/PATTISERIE/CAFE*/
.abajoizq-pattiserie__img,
.abajoizq-pattiserie__titulo,
.abajoizq-pattiserie__subtitulo,
.abajoizq-panaderia__img,
.abajoizq-panaderia__titulo,
.abajoizq-panaderia__subtitulo,
.abajoder-cafe__img,
.abajoder-cafe__titulo,
.abajoder-cafe__subtitulo {
  transition: all 1s ease; }

.abajoizq-pattiserie:hover .abajoizq-pattiserie__img {
  transform: scale(1.05); }

.abajoizq-pattiserie:hover .abajoizq-pattiserie__titulo {
  transform: translateY(-40%); }

.abajoizq-pattiserie:hover .abajoizq-pattiserie__subtitulo {
  color: #8e3f3f; }

.abajoizq-panaderia:hover .abajoizq-panaderia__img {
  transform: scale(1.05); }

.abajoizq-panaderia:hover .abajoizq-panaderia__titulo {
  transform: translateY(-40%); }

.abajoizq-panaderia:hover .abajoizq-panaderia__subtitulo {
  color: white; }

.abajoder-cafe:hover .abajoder-cafe__img {
  transform: scale(1.05); }

.abajoder-cafe:hover .abajoder-cafe__titulo {
  transform: translateY(-40%); }

.abajoder-cafe:hover .abajoder-cafe__subtitulo {
  color: white; }

.masterclass {
  margin: 0 0% 0.7% 2.2%;
  grid-column: 2/4;
  background-color: white; }
  .masterclass__titulo {
    text-decoration: underline;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Nanum Myeongjo', serif;
    color: black;
    margin: 5% 0 0 0;
    text-align: center; }
  .masterclass__parrafo {
    color: black;
    margin: 5% 0 0 2%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold; }
  .masterclass__reseña1 {
    color: black;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: x-large;
    font-style: italic; }
  .masterclass__reseña2 {
    color: black;
    text-align: center;
    font-family: 'Cormorant Garamond', serif; }

nav .breadcrumb {
  margin-bottom: 0; }

.video {
  grid-area: video1; }
  .video__masterclass {
    margin: 0 0 0 3%; }

.aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white; }
  .aside__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .aside a {
    color: #686c71; }
  .aside .animacionepicurious {
    display: flex;
    align-items: center;
    margin: 0 5% 0 0; }
  .aside .animaciontaste {
    display: flex;
    align-items: center;
    margin: 0 5% 0 0; }
  .aside .animacionatk {
    display: flex;
    align-items: center;
    margin: 0 5% 0 0; }
  .aside .animacionfood {
    display: flex;
    align-items: center;
    margin: 0 5% 0 0; }

.aside a:hover {
  text-decoration: none;
  color: #353739; }

.asideFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 10px 0;
  background-color: white; }
  .asideFlex h2 {
    padding: 5px;
    text-align: center;
    margin: 0;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400; }

/*ANIMACION ASIDE*/
#TrianguloAzul1,
#TrianguloAzul2,
#TrianguloVerde {
  transition: all 1s ease; }

#TrianguloAzul1 {
  transform: translateX(-100%); }

.animacionepicurious:hover #TrianguloAzul2 {
  transform: translateX(20%); }

.animacionepicurious:hover #TrianguloVerde {
  transform: translateX(40%);
  opacity: 0; }

.animacionepicurious:hover #TrianguloAzul1 {
  transform: translateX(5%); }

.animacionatk:hover #TrianguloAzul2 {
  transform: translateX(20%); }

.animacionatk:hover #TrianguloVerde {
  transform: translateX(40%);
  opacity: 0; }

.animacionatk:hover #TrianguloAzul1 {
  transform: translateX(5%); }

.animaciontaste:hover #TrianguloAzul2 {
  transform: translateX(20%); }

.animaciontaste:hover #TrianguloVerde {
  transform: translateX(40%);
  opacity: 0; }

.animaciontaste:hover #TrianguloAzul1 {
  transform: translateX(5%); }

.animacionfood:hover #TrianguloAzul2 {
  transform: translateX(20%); }

.animacionfood:hover #TrianguloVerde {
  transform: translateX(40%);
  opacity: 0; }

.animacionfood:hover #TrianguloAzul1 {
  transform: translateX(5%); }

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  flex-grow: inherit;
  color: cornsilk;
  text-align: center;
  background-color: #1a1818;
  margin: 0;
  padding: 0 0 10px 0; }
  .footer__1 {
    align-self: center; }
  .footer__1 p {
    margin: 0; }
  .footer__2 {
    margin: 0 0 0 10%; }

form .form-group {
  margin: 0;
  padding: 0;
  height: 55px; }

label {
  margin-top: 10px; }

.emailinput {
  margin: 5% 1% 0 0; }

/*  RECETAS  */
.bodyrecetas {
  background-color: #F0F0F0; }

.h1recetas, .h1tecnicas1, .h1tecnicas2, .h1galeria {
  margin: 10px 0 10px 37%;
  background-color: cornsilk;
  border-radius: 20px;
  width: 28%; }
  .h1recetas__titulo, .h1tecnicas1__titulo, .h1tecnicas2__titulo, .h1galeria__titulo {
    text-align: left;
    margin: 0 0 0 15px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400; }

#recetas {
  /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "izq1 der1"
                         "izq2 der2"
                         "izq3 der3";    */
  display: flex;
  flex-direction: column; }

.beef {
  grid-area: izq2;
  position: relative;
  /*&__table {
        @extend .steak__table;
        &--TH {
            @extend .steak__table--TH;
        }
    }        */ }
  .beef__img {
    height: 425px;
    margin: 0 0 0 23%; }
  .beef-descripcion, .steak-descripcion, .chicken-descripcion {
    position: absolute;
    bottom: -25%;
    background-color: #ffffff;
    margin: 0 25% 0 25%;
    border-bottom: 5px solid #77E2E1; }
    .beef-descripcion__titulo, .steak-descripcion__titulo, .chicken-descripcion__titulo {
      color: black;
      border-radius: 10px;
      text-align: center;
      font-family: 'Playfair Display', serif;
      padding: 1% 1% 1% 1%; }
    .beef-descripcion__parrafo, .steak-descripcion__parrafo, .chicken-descripcion__parrafo, .merengue__parrafo, .cremapastelera__parrafo, .marinadohierbas__parrafo, .cremamuselina__parrafo, .salsaholandesa__parrafo, .ahumadocarnes__parrafo {
      color: black;
      font-size: 1.2rem;
      font-family: inherit;
      text-align: center; }

.steak {
  position: relative;
  /*&__table {
        @extend .steak__table;
        &--TH {
            @extend .steak__table--TH;
        }
    }        */ }
  .steak__img {
    height: 475px;
    margin: 12% 0 0 23.5%; }
  .steak-descripcion {
    bottom: -8%;
    left: 11%; }

.chicken {
  position: relative;
  /*&__table {
        @extend .steak__table;
        &--TH {
            @extend .steak__table--TH;
        }
    }        */ }
  .chicken__img {
    height: 475px;
    margin: 12% 0 0 23.5%; }
  .chicken-descripcion {
    bottom: -8%;
    left: 5%; }

.boton {
  height: 200px; }
  .boton .btn-success {
    margin: 8% 0 0 45%; }

.footerbottom {
  height: 50px;
  background-color: black;
  display: grid;
  grid-column: 1fr 1fr 1fr;
  grid-template-areas: "izq centro der"; }
  .footerbottom__izq {
    align-self: center;
    justify-self: center;
    grid-area: izq; }
  .footerbottom__der {
    align-self: center;
    grid-area: centro;
    margin: 0 0 0 15%; }
  .footerbottom .fa-facebook-f {
    font-size: 20px;
    color: white;
    margin: 0 0 0 45px; }
  .footerbottom .fa-copyright {
    font-size: 20px;
    color: white;
    margin: 0 0 0 25%; }
  .footerbottom .fa-instagram {
    font-size: 20px;
    color: white;
    margin: 0 0 0 15px; }
  .footerbottom .fa-twitter {
    font-size: 20px;
    color: white;
    margin: 0 0 0 15px; }
  .footerbottom .fa-envelope {
    font-size: 20px;
    color: white;
    margin: 0 0 0 15px; }

/*  TECNICAS 1  */
.bodytecnicas1 {
  background-image: url(../images/naranja-min.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.gridtecnicas1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  justify-items: left;
  align-items: flex-end;
  width: 100%;
  grid-template-areas: "izq1 der1" "izq2 der2" "izq3 der3"; }

.h1tecnicas1 {
  width: 26%; }

.merengue {
  grid-area: izq1; }
  .merengue__titulo {
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    color: white; }
  .merengue__parrafo, .cremapastelera__parrafo, .marinadohierbas__parrafo, .cremamuselina__parrafo, .salsaholandesa__parrafo, .ahumadocarnes__parrafo {
    color: black;
    font-size: 1.5rem;
    font-family: inherit;
    text-align: center;
    background-color: cornsilk;
    border-radius: 15px;
    padding: 1%; }
  .merengue__tipos {
    margin: 0 0 0 38%;
    font-size: larger; }
  .merengue a {
    color: white; }
    .merengue a:hover {
      text-decoration: none;
      color: #667b96; }

.cremapastelera {
  grid-area: izq2; }
  .cremapastelera__titulo {
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    color: white; }
  .cremapastelera__link {
    margin: 0 0 3% 34%;
    font-size: x-large; }
  .cremapastelera a {
    color: white; }
    .cremapastelera a:hover {
      text-decoration: none;
      color: #667b96; }

.marinadohierbas {
  grid-area: izq3;
  margin-bottom: 5%; }
  .marinadohierbas__titulo {
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    color: white; }
  .marinadohierbas__link {
    margin: 0 0 3% 34%;
    font-size: x-large; }
  .marinadohierbas a {
    color: white; }
    .marinadohierbas a:hover {
      text-decoration: none;
      color: #667b96; }

body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: top;
  background-position-x: right;
  margin: 0px;
  height: 100%;
  background-color: #f0f0f0; }

html {
  height: 100%; }

p {
  margin-left: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 25px;
  word-spacing: 2px;
  color: white; }

article {
  margin-top: 0px; }

article h3 {
  color: white; }

.page-wraper {
  min-height: 100%; }

/*  TECNICAS 2  */
.bodytecnicas2 {
  background-image: url(../images/palta-min.jpg); }

.gridtecnicas2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  justify-items: right;
  align-items: baseline;
  width: 100%; }

.cremamuselina__titulo {
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  color: white; }

.cremamuselina__parrafo {
  font-size: 1.2rem; }

.salsaholandesa__titulo {
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  color: white; }

.salsaholandesa__parrafo {
  font-size: 1.2rem; }

.ahumadocarnes__titulo {
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  color: white; }

.ahumadocarnes__parrafo {
  font-size: 1.2rem; }

/*  GALERIA  */
.bodyimagenes {
  background-color: #f0f0f0; }

.h1galeria {
  width: 12.5%; }

.h1galeria__titulo {
  text-align: left;
  margin: 1% 0 0 1%;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  background-color: cornsilk;
  border-radius: 20px;
  width: max-content;
  padding: 0.5%; }

.carousel {
  display: flex;
  justify-content: center; }

.carousel .carousel-item {
  height: 500px; }

body {
  background-color: #f0f0f0; }

/*  MEDIAQUERIES  */
@media only screen and (max-width: 320px) {
  .header__titulo {
    justify-self: center;
    font-family: "Dancing Script";
    align-self: center;
    color: #ad0010;
    margin: 0 0 0 10px;
    transition: 2s;
    font-size: 1.5rem; }
  .header__img {
    height: 105px;
    margin: 0 0 0 10px; }
  .header__subtitulo {
    font-size: 80%;
    margin: 0 0 0 0px;
    color: white;
    background-color: #3e494b70; }
  body {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    margin: 0px;
    background-color: #f0f0f0; }
  .nav {
    justify-content: space-evenly;
    position: relative;
    margin-left: auto;
    width: 100%; }
  .section {
    display: flex;
    flex-direction: column; }
  .novedades {
    display: flex;
    flex-direction: column; }
    .novedades__titulo {
      position: relative;
      margin: auto;
      left: 0; }
      .novedades__titulo .novedades__h2 {
        margin: 2% 2% 0 25%; }
      .novedades__titulo .novedades__introduccion {
        text-align: center; }
    .novedades-izq {
      margin: auto;
      position: relative;
      right: 0%; }
      .novedades-izq__cajaparrafo {
        width: 80%;
        margin: auto;
        display: block;
        left: 10%;
        bottom: -60%;
        height: 30%; }
      .novedades-izq__h6 {
        left: 24%;
        top: 78%; }
      .novedades-izq__parrafo {
        top: 93%;
        left: 23%; }
      .novedades-izq__img {
        display: block;
        margin: auto; }
    .novedades-centro {
      position: relative;
      right: 0%;
      margin: auto; }
      .novedades-centro__cajaparrafo {
        width: 80%;
        height: 35%;
        left: 10%;
        bottom: -15%; }
      .novedades-centro__parrafo {
        top: 82%;
        right: 12%; }
      .novedades-centro__h6 {
        right: 34%;
        top: 70%; }
      .novedades-centro__img {
        margin: 15% auto 0 auto; }
    .novedades-der {
      position: relative;
      right: 0%;
      margin: auto; }
      .novedades-der__cajaparrafo {
        width: 80%;
        left: 10%;
        bottom: 6%; }
      .novedades-der__parrafo {
        top: 66%;
        right: 15%; }
      .novedades-der__h6 {
        top: 64%;
        right: 27%; }
      .novedades-der__img {
        margin: 15% auto 15% auto; }
  .video__masterclass {
    width: 300px;
    margin: 0 0 0 3%; }
  .masterclass {
    margin: auto;
    width: 95%; }
  .aside {
    display: flex;
    flex-direction: column; }
  .abajoder-cafe__img {
    position: relative;
    right: -1%; }
  .abajoizq-panaderia__img {
    position: relative;
    left: 19%; }
  .abajoizq-panaderia__titulo {
    left: 20%;
    bottom: 50%; }
  .abajoizq-panaderia__subtitulo {
    bottom: 46%;
    left: 14.5%; }
  .abajoizq-pattiserie__img {
    position: relative;
    top: 12%;
    right: -19%; }
  .abajoizq-pattiserie__titulo {
    right: 30%;
    top: 55%; }
  .abajoizq-pattiserie__subtitulo {
    left: 20%;
    top: 60%; }
  .asideFlex h2 {
    font-size: 100%; }
  .aside__links {
    display: inline-block; }
  .aside__links li {
    margin: 0; }
  .article {
    width: 100%;
    margin: auto;
    line-height: 20px;
    word-spacing: 2px; }
    .article__parrafo {
      background-color: rgba(51, 152, 170, 0.7);
      margin-right: 10px; }
  .footer {
    font-size: 72%;
    line-height: normal;
    line-height: 1;
    margin: auto;
    align-items: right;
    flex-wrap: wrap; }
    .footer__2 {
      font-size: 80%;
      margin: 0; }
  .footerbottom__der {
    align-self: center;
    grid-area: centro;
    margin: 0 0 0 0;
    font-size: 65%; }
  .footerbottom__izq {
    justify-self: left; }
    .footerbottom__izq .fa-facebook-f {
      font-size: 75%;
      margin: 0 0 0 25px; }
    .footerbottom__izq .fa-instagram {
      font-size: 75%; }
    .footerbottom__izq .fa-twitter {
      font-size: 75%; }
    .footerbottom__izq .fa-envelope {
      font-size: 75%; }
  #exampleformcontroltextarea1 {
    width: 90%;
    margin: 0 0 0 5%; }
  .btn-primary {
    margin: 5% 0 0 0; }
  .aside {
    margin: auto;
    width: 80%; }
  form .form-group {
    margin: 0 2% 0 0;
    padding: 0;
    height: 3rem; }
  /*RECETAS @320PX*/
  .h1recetas, .h1tecnicas1, .h1tecnicas2, .h1galeria {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 0 0 7%; }
    .h1recetas__titulo, .h1tecnicas1__titulo, .h1tecnicas2__titulo, .h1galeria__titulo {
      margin: 10px 0 10px 75px;
      background-color: cornsilk;
      border-radius: 20px;
      width: 44%;
      font-size: 100%;
      padding: 1%; }
  #recetas {
    display: flex;
    flex-direction: column; }
  .beef {
    margin: auto;
    width: 96%; }
    .beef__titulo {
      font-size: 1.2rem; }
    .beef__img {
      height: 150px;
      margin: 0 0 0 10%; }
    .beef-descripcion, .steak-descripcion, .chicken-descripcion {
      position: relative;
      bottom: -25%;
      background-color: #ffffff;
      margin: 0 0 0 0;
      border-bottom: 5px solid #77E2E1; }
      .beef-descripcion__parrafo, .steak-descripcion__parrafo, .chicken-descripcion__parrafo, .merengue__parrafo, .cremapastelera__parrafo, .marinadohierbas__parrafo, .cremamuselina__parrafo, .salsaholandesa__parrafo, .ahumadocarnes__parrafo {
        font-size: 0.7rem; }
  .steak {
    margin: auto;
    width: 96%; }
    .steak__titulo {
      font-size: 1.5rem; }
    .steak__img {
      height: 200px;
      margin: 6% 0 0 2%; }
    .steak__parrafo {
      margin-right: 0.7rem; }
    .steak-descripcion {
      left: 2%; }
  .chicken {
    margin: auto;
    width: 96%; }
    .chicken__img {
      height: 200px;
      margin: 12% 0 0 1%; }
    .chicken__titulo {
      font-size: 1.5rem; }
    .chicken-descripcion {
      left: 1%;
      top: -1%; }
  .boton .btn-success {
    margin: 8% 40% 0 30%; }
  table {
    width: max-content; }
  li, td {
    font-size: 0.7rem; }
  th {
    font-size: 0.7rem; }
  /*TECNICAS BASICAS @320PX*/
  .gridtecnicas1 {
    display: flex;
    flex-direction: column; }
    .gridtecnicas1 .p {
      color: black;
      margin: 0 5% 0 5%;
      letter-spacing: 0;
      word-spacing: 0; }
  .h1tecnicas1 {
    width: 90%; }
    .h1tecnicas1__titulo {
      background-color: cornsilk;
      border-radius: 20px;
      font-size: 100%; }
  .merengue,
  .cremapastelera,
  .marinadohierbas {
    width: 98%;
    margin: auto; }
  .merengue__titulo,
  .cremapastelera__titulo,
  .marinadohierbas__titulo {
    width: max-content;
    margin: 2% auto;
    padding: 1%; }
  .cremamuselina__parrafo,
  .salsaholandesa__parrafo,
  .ahumadocarnes__parrafo {
    margin: auto; }
  .gridtecnicas1 li {
    font-size: x-large; }
  /*TECNICAS AVANZADAS*/
  .gridtecnicas2 {
    display: flex;
    flex-direction: column; }
    .gridtecnicas2 .p {
      color: black;
      margin: 0 5% 0 5%;
      letter-spacing: 0;
      word-spacing: 0; }
    .gridtecnicas2 h3 {
      text-align: center; }
  .h1tecnicas2__titulo {
    margin: 10px 0 10px 90px;
    background-color: cornsilk;
    border-radius: 20px;
    width: 35%;
    font-size: 100%;
    text-align: center; }
  .carousel-item .h-100 {
    height: 30% !important; }
  .h1galeria__titulo {
    margin: 0 40px 0 75px;
    background-color: cornsilk;
    border-radius: 20px;
    width: 50%;
    font-size: 100%;
    text-align: center; } }

/*MEDIA @ 321PX <--> 576PX*/
@media only screen and (min-width: 321px) and (max-width: 576px) {
  .header__titulo {
    justify-self: center;
    font-family: "Dancing Script";
    align-self: baseline;
    color: #ad0010;
    margin: 1.5rem 0 0 0;
    transition: 2s;
    font-size: 45px;
    font-size: 9vw; }
  .header__subtitulo {
    justify-self: left;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 3.7vw;
    background-color: rgba(255, 255, 255, 0);
    margin: 0; }
  .header__img {
    height: 103px; }
  .section {
    display: flex;
    flex-direction: column; }
  .novedades {
    display: flex;
    flex-direction: column; }
    .novedades__titulo {
      left: 0%; }
    .novedades__h2 {
      margin: auto;
      text-align: center; }
    .novedades__introduccion {
      margin: 2% auto;
      text-align: center;
      width: max-content; }
    .novedades-izq {
      margin: 5% auto; }
      .novedades-izq__h6 {
        margin: auto;
        top: 67%;
        left: 23%; }
      .novedades-izq__parrafo {
        margin: auto;
        top: 83%;
        left: 23%; }
      .novedades-izq__img {
        margin: auto; }
      .novedades-izq__cajaparrafo {
        margin: auto 0;
        left: 10%;
        bottom: -40%;
        height: 30%; }
    .novedades-centro {
      margin: 8% auto; }
      .novedades-centro__parrafo {
        top: 70%;
        right: 14%; }
      .novedades-centro__h6 {
        top: 55%;
        right: 35%; }
      .novedades-centro__img {
        margin: auto; }
      .novedades-centro__cajaparrafo {
        margin: auto 0;
        left: 7.5%;
        bottom: -10%;
        height: 40%; }
    .novedades-der {
      margin: auto auto 10% auto; }
      .novedades-der__parrafo {
        top: 70%;
        right: 18%; }
      .novedades-der__h6 {
        top: 68%;
        right: 28%; }
      .novedades-der__img {
        margin: auto; }
      .novedades-der__cajaparrafo {
        left: 8%;
        bottom: -10%;
        height: 25%; }
  .masterclass {
    width: 95%;
    margin: auto; }
  .video__masterclass {
    margin: auto 2%;
    width: 95%; }
  .abajoizq {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .abajoizq-panaderia {
      position: relative; }
      .abajoizq-panaderia__img {
        position: unset;
        height: 200px; }
      .abajoizq-panaderia__subtitulo {
        bottom: -10%; }
    .abajoizq-pattiserie {
      position: relative; }
      .abajoizq-pattiserie__img {
        position: unset;
        height: 200px; }
      .abajoizq-pattiserie__titulo {
        right: 6%; }
      .abajoizq-pattiserie__subtitulo {
        left: 1%;
        top: 24%; }
  .abajoder-cafe {
    position: relative; }
    .abajoder-cafe__img {
      height: 200px;
      position: unset;
      margin: 5% auto;
      display: block; }
    .abajoder-cafe__titulo {
      right: 30%; }
    .abajoder-cafe__subtitulo {
      left: 28%; }
  .article__titulo {
    font-family: 'Source Serif Pro', serif; }
  .article__parrafo {
    background-color: rgba(51, 152, 170, 0.7);
    margin: 0 2% 0 2%; }
  .article__img {
    margin: 5% 0 0 26%; }
  #recetas {
    display: flex;
    flex-direction: column; }
  .h1recetas, .h1tecnicas1, .h1tecnicas2, .h1galeria {
    width: 0;
    margin: 2% 0 2% 16%; }
    .h1recetas__titulo, .h1tecnicas1__titulo, .h1tecnicas2__titulo, .h1galeria__titulo {
      width: max-content;
      font-family: 'Source Serif Pro', serif; }
  .steak__table {
    margin: 0 0 0 25%; }
  .gridtecnicas1 {
    display: flex;
    flex-direction: column; }
    .gridtecnicas1 .p {
      color: black; }
  .h1tecnicas1 {
    width: 0;
    margin: 2% 0 2% 19%; }
    .h1tecnicas1__titulo {
      width: max-content; }
  .gridtecnicas2 {
    display: flex;
    flex-direction: column; }
    .gridtecnicas2 .p {
      color: black; }
    .gridtecnicas2 h3 {
      background-color: cadetblue;
      border-radius: 10px;
      text-align: center;
      margin-right: 100px;
      margin-left: 100px;
      color: white; }
  .aside:hover {
    width: 90%; }
  .aside {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
    transition: 2s;
    justify-content: center; }
    .aside h2 {
      font-family: 'Source Serif Pro', serif; }
  .footer__1 {
    margin: 0 2% 0 10%; }
  .footer__2 {
    margin: 0 9% 0 0; }
  .nombreinput {
    margin: 0 0 5% 0; }
  .emailinput {
    margin: 20% 2% 0 0; }
  body {
    background-color: #F0F0F0;
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: center;
    background-position-x: center;
    margin: 0px;
    background-color: #f0f0f0; }
  .footer {
    font-size: 80%;
    display: flex;
    flex-direction: column; }
  .footer__2 {
    margin: auto; }
  .footerbottom {
    display: flex;
    flex-direction: column;
    height: max-content; }
    .footerbottom__izq {
      margin: 4% auto 0 auto; }
    .footerbottom__der {
      margin: 2%; }
    .footerbottom .fa-facebook-f {
      margin: auto; }
  #exampleformcontroltextarea1 {
    margin: auto;
    width: 90%; }
  #emailHelp {
    margin: auto; }
  .form-group .form-text {
    margin: 20% 0 0 0; }
  .dejanostuconsulta {
    line-height: 100%; }
  .nombreinput {
    margin: 0 0.5% 0 0; }
  .emailinput {
    margin: 6% 2% 0 0; }
  /*RECETAS @576PX*/
  .beef__img, .steak__img, .chicken__img {
    height: 55vw;
    margin: auto;
    display: block; }
  .beef-descripcion, .steak-descripcion, .chicken-descripcion, .steak-descripcion, .chicken-descripcion {
    position: unset;
    bottom: -25%;
    background-color: #ffffff;
    margin: auto;
    border-bottom: 5px solid #77E2E1;
    width: 95%;
    display: block; }
  .h1recetas, .h1tecnicas1, .h1tecnicas2, .h1galeria {
    width: max-content;
    margin: 5% auto;
    padding: 0 2%; }
    .h1recetas__titulo, .h1tecnicas1__titulo, .h1tecnicas2__titulo, .h1galeria__titulo {
      font-size: 9vw; }
  .boton .btn-success {
    margin: 10% auto 0 auto;
    display: block; }
  html {
    height: 100%; }
  .h1tecnicas1, .h1tecnicas2 {
    width: max-content;
    margin: 4%auto;
    padding: 0 2%; }
  .bodytecnicas1 {
    background-size: auto; }
  .merengue__tipos, .cremapastelera__link, .marinadohierbas__link {
    font-size: 5vw;
    background-color: cadetblue;
    text-align: center;
    margin: unset;
    margin: 0 32% 5% 30%;
    border-radius: 20px;
    padding: 1%; }
  .h1galeria__titulo {
    margin: auto; }
  .carousel-item .h-100 {
    height: 48vw !important; }
  .h1recetas__titulo, .h1tecnicas1__titulo, .h1tecnicas2__titulo, .h1galeria__titulo, .h1tecnicas1__titulo, .h1tecnicas2__titulo, .h1galeria__titulo {
    font-family: 'DM Serif Display', serif; } }

/*MEDIA @ 576PX <--> 768PX*/
@media only screen and (min-width: 577px) and (max-width: 768px) {
  body {
    background-image: url(../images/background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: right;
    margin: 0px;
    background-color: #f0f0f0; }
  .header {
    grid-template-columns: 1fr 0.5fr 1fr; }
    .header__titulo {
      justify-self: auto;
      font-family: "Dancing Script";
      align-self: center;
      color: #ad0010;
      margin: 7% 0 0 5%;
      transition: 2s;
      font-size: 9vw; }
    .header__img {
      height: 103px; }
    .header__subtitulo {
      color: #f9feff;
      font-size: 3vw;
      margin: 2% 7% 5% 0;
      background-color: #25436291;
      border-radius: 7px;
      padding: 4px;
      text-align: center; }
  .nav {
    margin: auto; }
  .nav a {
    margin: auto;
    font-size: small;
    padding: 0; }
  .nav li {
    display: inline; }
  .novedades__titulo {
    margin-bottom: 2%;
    left: 0%; }
  .novedades__introduccion {
    width: max-content; }
  .novedades-izq, .novedades-centro, .novedades-der {
    margin: 4% auto; }
    .novedades-izq__img, .novedades-centro__img, .novedades-der__img {
      margin: auto; }
    .novedades-izq__cajaparrafo, .novedades-centro__cajaparrafo, .novedades-der__cajaparrafo {
      margin: 0;
      left: 10%;
      top: 80%;
      height: 35%; }
    .novedades-izq__h6, .novedades-centro__h6, .novedades-der__h6 {
      left: 24%;
      top: 67%; }
    .novedades-izq__parrafo, .novedades-centro__parrafo, .novedades-der__parrafo {
      left: 23%;
      top: 85%;
      margin: auto; }
  .novedades-centro__parrafo {
    left: 13%;
    top: 81%; }
  .novedades-centro__h6 {
    left: 18%; }
  .novedades-centro__cajaparrafo {
    left: 7.5%;
    bottom: -15%;
    height: 40%; }
  .novedades-der__parrafo {
    left: 16%;
    top: 72%; }
  .masterclass {
    margin: 2% auto; }
  .abajoizq {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .abajoizq-panaderia__img, .abajoizq-pattiserie__img {
      position: unset; }
    .abajoizq-panaderia__titulo {
      left: 16%; }
    .abajoizq-panaderia__subtitulo {
      left: 15%;
      font-size: 2.5vw; }
    .abajoizq-pattiserie__titulo {
      right: 19%;
      font-size: 4vw; }
    .abajoizq-pattiserie__subtitulo {
      left: 60%;
      font-size: 2.5vw; }
  .abajoder-cafe__img {
    display: block;
    margin: 2% auto;
    position: unset; }
  .abajoder-cafe__titulo {
    left: 55%; }
  .abajoder-cafe__subtitulo {
    left: 30%; }
  .aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    flex-wrap: wrap;
    margin: auto;
    width: 90%; }
  .emailinput {
    margin: 18% 2% 0 0; }
  .footer__2 {
    margin: 0 10px; }
  .section {
    display: flex;
    flex-direction: column; }
  .novedades {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column; }
    .novedades__introduccion {
      margin: auto;
      text-align: center; }
    .novedades__h2 {
      margin: auto;
      text-align: center; }
  /*RECETAS @768PX*/
  .bodyrecetas {
    background-image: none;
    background-color: #F0F0F0; }
  .beef__img, .steak__img, .chicken__img {
    height: 55vw;
    margin: 10% auto;
    display: block; }
  .beef-descripcion, .steak-descripcion, .chicken-descripcion, .steak-descripcion, .chicken-descripcion {
    margin: 0 10% 0 10%;
    bottom: -10%; }
  .steak-descripcion {
    bottom: 7%;
    left: -1%;
    margin: 0 27vw 0 27vw; }
  .chicken-descripcion {
    margin: auto;
    left: 0%; }
  .chicken__link {
    position: absolute;
    width: 70%;
    bottom: 5%;
    margin: auto 15vw; }
  .boton .btn-success {
    margin: auto;
    display: block; }
  /*TECNICAS BASICAS @768PX*/
  .gridtecnicas1 {
    display: flex;
    flex-direction: column; }
  .merengue,
  .cremapastelera,
  .marinadohierbas {
    width: 90%;
    margin: auto; }
  .merengue__tipos, .marinadohierbas__link, .cremapastelera__link {
    font-size: 3.3vw;
    background-color: #082f2fb8;
    text-align: center;
    margin: unset;
    margin: 0 32% 5% 30%;
    border-radius: 20px;
    padding: 1%; }
  .marinadohierbas__link li {
    text-align: right; }
  .h1tecnicas1 {
    margin: 5% auto; }
    .h1tecnicas1__titulo {
      margin: auto;
      font-size: 6vw;
      text-align: center; }
  /*TECNICAS AVANZADAS @768*/
  .gridtecnicas2 {
    display: flex;
    width: 95%;
    flex-direction: column;
    margin: auto; }
  .h1tecnicas2 {
    margin: 5% auto;
    width: max-content;
    padding: 1%; }
    .h1tecnicas2__titulo {
      text-align: center;
      margin: auto; }
  .cremamuselina__titulo, .salsaholandesa__titulo, .ahumadocarnes__titulo {
    width: max-content;
    padding: 1%;
    margin: 2% auto; }
  /*GALERIA @768*/
  .bodyimagenes {
    background-image: none;
    background-color: #f0f0f0; }
  .h1galeria__titulo {
    margin: 5% auto;
    text-align: center;
    font-family: 'DM Serif Display', serif; }
  .carousel-item .h-100 {
    height: 48vw !important; } }

/*MEDIA @ 769PX <--> 992PX*/
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .aside {
    margin-left: 300px;
    margin-right: 300px; }
  .nav {
    margin: auto; }
  .nav a {
    font-size: 85%; }
  .header {
    display: flex;
    flex-direction: row; }
    .header__titulo {
      font-size: 8VW;
      margin: 2% 0 0 2%;
      text-align: center; }
    .header__logo {
      height: 100%;
      margin: 0 0 0 10%; }
    .header__img {
      height: 100%; }
    .header__subtitulo {
      margin: 0; } }
