@charset "UTF-8";
/*Variables*/
/*Inicio*/
.header {
  height: 103px;
  width: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px;
  background-image: url(../spices.jpg);
  background-size: cover;
  background-position-y: center; }
  .header__logo {
    margin: 0;
    justify-self: center; }
  .header__subtitulo {
    justify-self: left;
    align-self: center;
    font-family: 'Source Serif Pro', serif;
    color: #10626a;
    font-size: 25px;
    margin: 83px 0 0 70px;
    background-color: #e9ecef;
    border-radius: 7px;
    padding: 4px;
    text-align: center; }
  .header__titulo {
    color: #ad0010;
    justify-self: center;
    font-family: 'Dancing Script', cursive;
    align-self: flex-start;
    font-size: 100px;
    margin: 0 0 0 50px;
    transition: 2s; }
  .header__img {
    height: 150px; }
  .header__titulo:hover {
    transform: translate(40px, 10px); }

.section {
  margin: 0;
  background-image: url(../background4.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "izq centro der" "video1 video2 video3" "izq2 centro2 der2"; }

.novedades {
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  justify-content: end; }
  .novedades a:hover {
    text-decoration: none;
    color: #667b96; }
  .novedades__titulo {
    position: relative; }
  .novedades__h2 {
    text-decoration: underline;
    color: white;
    margin: 20% 2% 0 25%;
    font-family: 'Playfair Display', serif;
    font-weight: 400; }
  .novedades__introduccion {
    font-family: 'DM Serif Display', serif;
    color: white;
    margin: 7% 0 0 0; }
  .novedades-izq {
    margin: 4% 0.7% 0 0;
    position: relative; }
    .novedades-izq__img {
      margin: 0 0 0 20%;
      border-right: 3px solid #162123;
      border-left: 3px solid #162123;
      border-top: 3px solid #162123; }
    .novedades-izq__h6 {
      color: black;
      background-color: #fff;
      text-align: center;
      position: absolute;
      left: 42%;
      top: 50%;
      padding: 4px;
      border-radius: 20px;
      text-decoration-line: underline;
      font-family: 'DM Serif Display', serif;
      font-size: large; }
    .novedades-izq__cajaparrafo, .novedades-centro__cajaparrafo, .novedades-der__cajaparrafo {
      font-weight: 400;
      margin: 0 0 0 20%;
      background: white;
      color: black;
      text-align: center;
      width: 100%;
      border-bottom: 4px solid #162123;
      border-left: 3px solid #162123;
      border-right: 3px solid #162123;
      height: 80px; }
    .novedades-izq__parrafo {
      color: black;
      font-family: 'Source Serif Pro', serif;
      position: absolute;
      top: 63%;
      margin: 0 0 0 40%;
      line-height: 120%;
      font-family: 'DM Serif Display', serif; }
  .novedades-centro {
    margin: 2% 1.5% 0 0;
    position: relative; }
    .novedades-centro__img {
      margin: 10% 0 0 20%;
      border-right: 3px solid #162123;
      border-left: 3px solid #162123;
      border-top: 3px solid #162123; }
    .novedades-centro__h6 {
      color: black;
      background-color: #fff;
      text-align: center;
      position: absolute;
      right: 15%;
      top: 55%;
      padding: 4px;
      border-radius: 20px;
      text-decoration-line: underline;
      font-family: 'DM Serif Display', serif;
      font-size: large; }
    .novedades-centro__cajaparrafo, .novedades-der__cajaparrafo {
      margin: 0 20.7% 0 20%; }
    .novedades-centro__parrafo {
      color: black;
      font-family: 'Source Serif Pro', serif;
      position: absolute;
      top: 64%;
      right: -7%;
      line-height: 120%;
      font-family: 'DM Serif Display', serif; }
  .novedades-der {
    margin: 2% 5% 0 0;
    position: relative; }
    .novedades-der__img {
      height: 150px;
      margin: 12% 0 0 20%;
      border-right: 3px solid #162123;
      border-left: 3px solid #162123;
      border-top: 3px solid #162123; }
    .novedades-der__h6 {
      color: black;
      background-color: #fff;
      text-align: center;
      position: absolute;
      margin: 0 7.5% 0% 0;
      top: 55%;
      right: 11%;
      padding: 4px;
      border-radius: 20px;
      text-decoration-line: underline;
      font-family: 'DM Serif Display', serif;
      font-size: large; }
    .novedades-der__cajaparrafo {
      width: 100%; }
    .novedades-der__parrafo {
      color: black;
      font-family: 'Source Serif Pro', serif;
      position: absolute;
      top: 60%;
      right: -5%;
      line-height: 120%;
      font-family: 'DM Serif Display', serif; }

.abajoizq {
  grid-area: izq2;
  position: relative; }
  .abajoizq-panaderia__titulo {
    text-decoration: underline;
    color: white;
    margin: 0 0 0 2%;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    position: absolute;
    left: 8%;
    bottom: 10%;
    font-size: 1.8rem; }
    .abajoizq-panaderia__titulo:hover {
      text-decoration: none;
      color: #bf9115; }
  .abajoizq-panaderia__img {
    height: 250px;
    position: absolute;
    top: 12%;
    left: 10%; }
  .abajoizq-pattiserie__img {
    height: 250px;
    position: absolute;
    top: 12%;
    right: 10%; }
  .abajoizq-pattiserie__titulo {
    text-decoration: underline;
    color: #8e3f3f;
    margin: 0 0 0 2%;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    position: absolute;
    right: 16.5%;
    top: 13%;
    font-size: 1.8rem; }
    .abajoizq-pattiserie__titulo:hover {
      text-decoration: none;
      color: #bf9115; }

.masterclass {
  margin: 0 0% 0.7% 2.2%;
  grid-column: 2/4;
  background-color: white; }
  .masterclass__titulo {
    text-decoration: underline;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Nanum Myeongjo', serif;
    color: black;
    margin: 5% 0 0 0;
    text-align: center; }
  .masterclass__parrafo {
    color: black;
    margin: 5% 0 0 2%;
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Spartan', sans-serif; }
  .masterclass__reseña1 {
    color: black;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: x-large;
    font-style: italic; }
  .masterclass__reseña2 {
    color: black;
    text-align: center;
    font-family: 'Cormorant Garamond', serif; }

nav .breadcrumb {
  margin-bottom: 0; }

.video {
  grid-area: video1; }
  .video__masterclass {
    margin: 0 0 0 3%; }

.aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white; }
  .aside__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .aside a {
    color: #686c71; }
  .aside .animacionepicurious {
    display: flex;
    align-items: center;
    margin: 0 5% 0 0; }
  .aside .animaciontaste {
    display: flex;
    align-items: center;
    margin: 0 5% 0 0; }
  .aside .animacionatk {
    display: flex;
    align-items: center;
    margin: 0 5% 0 0; }
  .aside .animacionfood {
    display: flex;
    align-items: center;
    margin: 0 5% 0 0; }

.aside a:hover {
  text-decoration: none;
  color: #353739; }

.asideFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 10px 0;
  background-color: white; }
  .asideFlex h2 {
    padding: 5px;
    text-align: center;
    margin: 0;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400; }

/*ANIMACION ASIDE*/
#TrianguloAzul1,
#TrianguloAzul2,
#TrianguloVerde {
  transition: all 1s ease; }

#TrianguloAzul1 {
  transform: translateX(-100%); }

.animacionepicurious:hover #TrianguloAzul2 {
  transform: translateX(20%); }

.animacionepicurious:hover #TrianguloVerde {
  transform: translateX(40%);
  opacity: 0; }

.animacionepicurious:hover #TrianguloAzul1 {
  transform: translateX(5%); }

.animacionatk:hover #TrianguloAzul2 {
  transform: translateX(20%); }

.animacionatk:hover #TrianguloVerde {
  transform: translateX(40%);
  opacity: 0; }

.animacionatk:hover #TrianguloAzul1 {
  transform: translateX(5%); }

.animaciontaste:hover #TrianguloAzul2 {
  transform: translateX(20%); }

.animaciontaste:hover #TrianguloVerde {
  transform: translateX(40%);
  opacity: 0; }

.animaciontaste:hover #TrianguloAzul1 {
  transform: translateX(5%); }

.animacionfood:hover #TrianguloAzul2 {
  transform: translateX(20%); }

.animacionfood:hover #TrianguloVerde {
  transform: translateX(40%);
  opacity: 0; }

.animacionfood:hover #TrianguloAzul1 {
  transform: translateX(5%); }

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  flex-grow: inherit;
  color: cornsilk;
  text-align: center;
  background-color: #1a1818;
  margin: 0;
  padding: 0 0 10px 0; }
  .footer__1 {
    align-self: center; }
  .footer__1 p {
    margin: 0; }
  .footer__2 {
    margin: 0 0 0 10%; }

form .form-group {
  margin: 0;
  padding: 0;
  height: 55px; }

label {
  margin-top: 10px; }

.emailinput {
  margin: 5% 1% 0 0; }

/*  Recetas  */
.h1recetas, .h1tecnicas1, .h1tecnicas2, .h1galeria {
  margin: 10px  0  10px  10px;
  background-color: cornsilk;
  border-radius: 20px;
  width: 28%; }
  .h1recetas__titulo, .h1tecnicas1__titulo, .h1tecnicas2__titulo, .h1galeria__titulo {
    text-align: left;
    margin: 0 0 0 15px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400; }

#recetas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  flex-basis: 50px; }

.steak__titulo, .beef__titulo, .chicken__titulo {
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px; }

.steak__table, .beef__table, .chicken__table {
  margin-left: 3.5rem;
  background-color: #fcf6eb; }
  .steak__table--TH, .beef__table--TH, .chicken__table--TH {
    background-color: cadetblue;
    color: white;
    text-align: center; }

.steak__parrafo, .beef__parrafo, .chicken__parrafo {
  background-color: rgba(51, 152, 170, 0.7);
  border: solid 1px rgba(255, 255, 255, 0.5); }

#recetas h3 {
  color: white; }

.footerbottom {
  height: 50px;
  background-color: black;
  display: grid;
  grid-column: 1fr 1fr 1fr;
  grid-template-areas: "izq centro der"; }
  .footerbottom__izq {
    align-self: center;
    justify-self: center;
    grid-area: izq; }
  .footerbottom__der {
    align-self: center;
    grid-area: centro;
    margin: 0 0 0 15%; }
  .footerbottom .fa-facebook-f {
    font-size: 20px;
    color: white;
    margin: 0 0 0 45px; }
  .footerbottom .fa-copyright {
    font-size: 20px;
    color: white;
    margin: 0 0 0 25%; }
  .footerbottom .fa-instagram {
    font-size: 20px;
    color: white;
    margin: 0 0 0 15px; }
  .footerbottom .fa-twitter {
    font-size: 20px;
    color: white;
    margin: 0 0 0 15px; }
  .footerbottom .fa-envelope {
    font-size: 20px;
    color: white;
    margin: 0 0 0 15px; }

/*  Tecnicas 1  */
.gridtecnicas1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  justify-items: right;
  align-items: flex-end;
  width: 100%; }

.h1tecnicas1 {
  width: 26%; }

.merengue__titulo {
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  color: white; }

.cremapastelera__titulo {
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  color: white; }

.marinadohierbas__titulo {
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  color: white; }

body {
  background-image: url(./background4.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: top;
  background-position-x: right;
  margin: 0px;
  height: 100%; }

html {
  height: 100%; }

p {
  margin-left: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 25px;
  word-spacing: 2px;
  color: white; }

article {
  margin-top: 0px; }

article h3 {
  color: white; }

.page-wraper {
  min-height: 100%; }

/*  Tecnicas 2  */
.gridtecnicas2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  justify-items: right;
  align-items: flex-end;
  width: 100%; }

.cremamuselina__titulo {
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  color: white; }

.salsaholandesa__titulo {
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  color: white; }

.ahumadocarnes__titulo {
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  color: white; }

/*  Galeria  */
.h1galeria {
  width: 12.5%; }

.h1galeria__titulo {
  text-align: left;
  margin: 1% 0 0 1%;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  background-color: cornsilk;
  border-radius: 20px;
  width: max-content;
  padding: 0.5%; }

.carousel {
  display: flex;
  justify-content: center; }

.carousel .carousel-item {
  height: 500px; }

/*  MediaQueries  */
@media only screen and (max-width: 320px) {
  .header__titulo {
    justify-self: center;
    font-family: "Dancing Script";
    align-self: center;
    color: #ad0010;
    margin: 0 0 0 10px;
    transition: 2s;
    font-size: 1.5rem; }
  .header__img {
    height: 105px;
    margin: 0 0 0 10px; }
  .header__subtitulo {
    font-size: 80%;
    margin: 0 0 0 0px;
    color: white;
    background-color: rgba(255, 255, 255, 0); }
  body {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    margin: 0px; }
  .nav {
    justify-content: space-evenly;
    position: relative;
    margin-left: auto;
    width: 100%; }
  .section {
    display: flex;
    flex-direction: column; }
  .novedades {
    display: flex;
    flex-direction: column; }
    .novedades__titulo .novedades__h2 {
      margin: 2% 2% 0 25%; }
    .novedades__titulo .novedades__introduccion {
      text-align: center; }
    .novedades-izq {
      margin: 4% 0.7% 0 0;
      position: relative;
      right: 8%; }
      .novedades-izq__cajaparrafo, .novedades-centro__cajaparrafo, .novedades-der__cajaparrafo {
        width: 81.5%; }
      .novedades-izq__h6 {
        left: 38%;
        top: 57%; }
      .novedades-izq__parrafo {
        top: 73%;
        left: -2%; }
    .novedades-centro {
      position: relative;
      right: 9%; }
      .novedades-centro__cajaparrafo, .novedades-der__cajaparrafo {
        width: 85%; }
      .novedades-centro__parrafo {
        top: 72%;
        right: 6%; }
      .novedades-centro__h6 {
        right: 25%;
        top: 62%; }
    .novedades-der {
      margin: 2% 5% 5% 0; }
      .novedades-der__cajaparrafo {
        width: 74.5%; }
      .novedades-der__parrafo {
        top: 70%;
        right: 15%; }
      .novedades-der__h6 {
        top: 63%;
        right: 25%; }
  .video__masterclass {
    width: 300px;
    margin: 0 0 0 3%; }
  .aside {
    display: flex;
    flex-direction: column; }
  .asideFlex h2 {
    font-size: 100%; }
  .aside__links {
    display: inline-block; }
  .aside__links li {
    margin: 0; }
  .article {
    width: 100%;
    margin: auto;
    line-height: 20px;
    word-spacing: 2px; }
    .article__parrafo {
      background-color: rgba(51, 152, 170, 0.7);
      margin-right: 10px; }
  .footer {
    font-size: 72%;
    line-height: normal;
    line-height: 1;
    margin: auto;
    align-items: right;
    flex-wrap: wrap; }
    .footer__2 {
      font-size: 80%;
      margin: 0; }
  .footerbottom__der {
    align-self: center;
    grid-area: centro;
    margin: 0 0 0 0;
    font-size: 65%; }
  .footerbottom__izq {
    justify-self: left; }
    .footerbottom__izq .fa-facebook-f {
      font-size: 75%;
      margin: 0 0 0 25px; }
    .footerbottom__izq .fa-instagram {
      font-size: 75%; }
    .footerbottom__izq .fa-twitter {
      font-size: 75%; }
    .footerbottom__izq .fa-envelope {
      font-size: 75%; }
  #exampleformcontroltextarea1 {
    width: 90%;
    margin: 0 0 0 5%; }
  .btn-primary {
    margin: 5% 0 0 0; }
  .aside {
    margin: auto;
    width: 80%; }
  form .form-group {
    margin: 0 2% 0 0;
    padding: 0;
    height: 3rem; }
  /*RECETAS*/
  .h1recetas, .h1tecnicas1, .h1tecnicas2, .h1galeria {
    width: 100%;
    background-color: rgba(255, 255, 255, 0); }
    .h1recetas__titulo, .h1tecnicas1__titulo, .h1tecnicas2__titulo, .h1galeria__titulo {
      margin: 10px 0 10px 75px;
      background-color: cornsilk;
      border-radius: 20px;
      width: 46%;
      font-size: 100%; }
  #recetas {
    display: flex;
    flex-direction: column; }
  .steak__titulo, .beef__titulo, .chicken__titulo {
    font-size: 1.5rem; }
  .steak__parrafo, .beef__parrafo, .chicken__parrafo {
    margin-right: 0.7rem; }
  .beef__titulo {
    font-size: 1.2rem; }
  .chicken__titulo {
    font-size: 1.5rem; }
  table {
    width: max-content; }
  li, td {
    font-size: 0.7rem; }
  th {
    font-size: 0.7rem; }
  /*TECNICAS BASICAS*/
  .gridtecnicas1 {
    display: flex;
    flex-direction: column; }
    .gridtecnicas1 .p {
      color: black;
      margin: 0 5% 0 5%;
      letter-spacing: 0;
      word-spacing: 0; }
  .h1tecnicas1__titulo {
    margin: 10px 15px 10px 90px;
    background-color: cornsilk;
    border-radius: 20px;
    width: 38%;
    font-size: 100%; }
  /*TECNICAS AVANZADAS*/
  .gridtecnicas2 {
    display: flex;
    flex-direction: column; }
    .gridtecnicas2 .p {
      color: black;
      margin: 0 5% 0 5%;
      letter-spacing: 0;
      word-spacing: 0; }
    .gridtecnicas2 h3 {
      text-align: center; }
  .h1tecnicas2__titulo {
    margin: 10px 0 10px 90px;
    background-color: cornsilk;
    border-radius: 20px;
    width: 35%;
    font-size: 100%;
    text-align: center; }
  .carousel-item .h-100 {
    height: 30% !important; }
  .h1galeria__titulo {
    margin: 0 40px 0 75px;
    background-color: cornsilk;
    border-radius: 20px;
    width: 50%;
    font-size: 100%;
    text-align: center; } }

@media only screen and (min-width: 321px) and (max-width: 576px) {
  .header__titulo {
    justify-self: center;
    font-family: "Dancing Script";
    align-self: baseline;
    color: #ad0010;
    margin: 1.5rem 0 0 0;
    transition: 2s;
    font-size: 45px; }
  .header__subtitulo {
    justify-self: left;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 100%;
    background-color: rgba(255, 255, 255, 0);
    margin: 0; }
  .header__img {
    height: 103px; }
  .article__titulo {
    font-family: 'Source Serif Pro', serif; }
  .article__parrafo {
    background-color: rgba(51, 152, 170, 0.7);
    margin: 0 2% 0 2%; }
  .article__img {
    margin: 5% 0 0 26%; }
  #recetas {
    display: flex;
    flex-direction: column; }
  .h1recetas, .h1tecnicas1, .h1tecnicas2, .h1galeria {
    width: 0;
    margin: 2% 0 2% 16%; }
    .h1recetas__titulo, .h1tecnicas1__titulo, .h1tecnicas2__titulo, .h1galeria__titulo {
      width: max-content;
      font-family: 'Source Serif Pro', serif; }
  .steak__table, .beef__table, .chicken__table {
    margin: 0 0 0 25%; }
  .gridtecnicas1 {
    display: flex;
    flex-direction: column; }
    .gridtecnicas1 .p {
      color: black; }
  .h1tecnicas1 {
    width: 0;
    margin: 2% 0 2% 19%; }
    .h1tecnicas1__titulo {
      width: max-content; }
  .gridtecnicas2 {
    display: flex;
    flex-direction: column; }
    .gridtecnicas2 .p {
      color: black; }
    .gridtecnicas2 h3 {
      background-color: cadetblue;
      border-radius: 10px;
      text-align: center;
      margin-right: 100px;
      margin-left: 100px;
      color: white; }
  .aside:hover {
    width: 90%; }
  .aside {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
    transition: 2s;
    justify-content: center; }
    .aside h2 {
      font-family: 'Source Serif Pro', serif; }
  .footer__1 {
    margin: 0 2% 0 10%; }
  .footer__2 {
    margin: 0 9% 0 0; }
  .nombreinput {
    margin: 0 0 5% 0; }
  .emailinput {
    margin: 20% 2% 0 0; }
  body {
    background-image: url(/CSS/background4.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: center;
    background-position-x: center;
    margin: 0px; }
  .form-group .form-text {
    margin: 20% 0 0 0; }
  .dejanostuconsulta {
    line-height: 100%; } }

@media only screen and (min-width: 600px) and (max-width: 768px) {
  body {
    background-image: url(/CSS/background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: right;
    margin: 0px; }
  .header {
    grid-template-columns: 1fr 0.5fr 1fr; }
    .header__titulo {
      justify-self: center;
      font-family: "Dancing Script";
      align-self: center;
      color: white;
      margin: 0 0 0 10px;
      transition: 2s;
      font-size: 60px; }
    .header__img {
      height: 103px; }
    .header__subtitulo {
      font-size: 25px; }
  .nav {
    margin: auto; }
  .nav a {
    margin: auto;
    font-size: small;
    padding: 0; }
  .nav li {
    display: inline; }
  .aside {
    margin-left: 100px;
    margin-right: 100px;
    width: 90%; }
  .emailinput {
    margin: 12.5% 1.5% 0 0; }
  .footer__2 {
    margin: 0 10px; } }

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .aside {
    margin-left: 300px;
    margin-right: 300px; }
  .nav {
    margin: auto; }
  .nav a {
    font-size: 85%; } }
