/*Variables*/



                                                    /*INDEX*/

.header {     
    height: 103px;
    width: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;    
    justify-content:space-evenly;
    margin: 0px;
    padding: 0px;   
    background-image: url(../images/spices.jpg);
    background-size: cover;
    background-position-y: center;    
    &__logo {
        margin: 0;
        justify-self: center;         
    }
    &__subtitulo {
        justify-self: left;
        align-self: center;
        font-family: 'Source Serif Pro', serif;
        color: #10626a;
        font-size: 25px;
        margin: 83px 0 0 70px;
        background-color: #e9ecef;
        border-radius: 7px;
        padding: 4px;
        text-align: center;
    }
    &__titulo {
        color: #ad0010;
        justify-self: center;
        font-family: 'Dancing Script', cursive;
        align-self:flex-start;
        font-size: 100px;              
        margin: 0 0 0 50px;
        transition: 2s;
    }
    &__img {
        height: 150px;
    }
    &__titulo:hover {
        transform: translate(40px,10px);
    }
}  


.section {
    margin: 0;   
    background-image: url(../images/background4.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "izq centro der"
                          "video1 video2 video3"
                          "izq2 centro2 der2";
}
.novedades {
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    justify-content: end;    
    a:hover {
        text-decoration: none;
        color: darken($color: #a5b2c2, $amount: 21);
    }
    &__titulo {           
        position: relative;
    }
    &__h2 {
        text-decoration: underline;    
        color: rgb(255, 255, 255);    
        margin: 20% 2% 0 25%;
        font-family: 'Playfair Display', serif;
        font-weight: 400;          
    }
    &__introduccion {
        font-family: 'DM Serif Display', serif;
        color: white;
        margin: 7% 0 0 0;
    }
    &-izq {
        margin: 4% 0.7% 0 0;
        position: relative;
        width: 260px;
        &__img {
            margin: 0 0 0 20%;
            border-right: 3px solid #162123;
            border-left: 3px solid #162123;
            border-top: 3px solid #162123;
        }
        &__h6 {
            color: black;
            background-color: #fff;
            text-align: center;
            position: absolute;
            left: 42%;                  
            top: 50%;
            padding: 4px;
            border-radius: 20px;
            text-decoration-line: underline;
            font-family: 'DM Serif Display', serif;
            font-size: large;
        }
        &__cajaparrafo {
            font-weight: 400;
            margin: 0 0 0 20%;
            background: white;
            color: black;
            text-align: center;
            width: 99%;                  
            border-bottom: 4px solid #162123;
            border-left: 3px solid #162123;            
            border-right: 3px solid #162123;
            height: 80px;
        }
        &__parrafo {
            color: black;
            font-family: 'Source Serif Pro', serif;
            position: absolute;
            top: 63%;
            margin: 0 0 0 40%;
            line-height: 120%;
            font-family: 'DM Serif Display', serif;
        }
        
        
    }
    &-centro {
        margin: 2% 1.5% 0 0;
        position: relative;
        width: 270px;
        &__img {
            margin: 10% 0 0 20%;
            border-right: 3px solid #162123;
            border-left: 3px solid #162123;
            border-top: 3px solid #162123;
        }
        &__h6 {
            color: black;
            background-color: #fff;
            text-align: center;
            position: absolute;
            right: 15%;
            top: 55%;
            padding: 4px;
            border-radius: 20px;
            text-decoration-line: underline;
            font-family: 'DM Serif Display', serif;
            font-size: large;
        }

        &__cajaparrafo {
            @extend .novedades-izq__cajaparrafo;
            margin: 0 20.7% 0 20%;
        }
        &__parrafo {
            color: black;
            font-family: 'Source Serif Pro', serif;
            position: absolute;
            top: 64%;
            right: -7%;
            line-height: 120%;
            font-family: 'DM Serif Display', serif;
        }
    }
    &-der {
        margin: 2% 5% 0 0;
        position: relative;
        width: 230px;
        &__img {
            height: 150px;
            margin: 12% 0 0 20%;
            border-right: 3px solid #162123;
            border-left: 3px solid #162123;
            border-top: 3px solid #162123;
        }
        &__h6 {
            color: black;
            background-color: #fff;
            text-align: center;
            position: absolute;                       
            margin: 0 7.5% 0% 0;         
            top: 55%;
            right: 11%;
            padding: 4px;
            border-radius: 20px;
            text-decoration-line: underline;
            font-family: 'DM Serif Display', serif;
            font-size: large;
        }
        &__cajaparrafo {
            @extend .novedades-centro__cajaparrafo;
            width: 98.5%;
        }
        &__parrafo {
            color: black;
            font-family: 'Source Serif Pro', serif;
            position: absolute;
            top: 60%;
            right: -5%;
            line-height: 120%;
            font-family: 'DM Serif Display', serif;
        }

    }
}

.abajoizq {
    grid-area: izq2;
    position: relative;
    &-panaderia {    
        &__titulo {
            text-decoration: underline;    
            color: rgb(255, 255, 255);    
            margin: 0 0 0 2%;
            font-family: 'Playfair Display', serif;
            font-weight: 400;     
            position: absolute;
            left: 9.5%;
            bottom: 10%;
            font-size: 1.8rem;
            &:hover {
                text-decoration: none;
                color: darken($color: #ecc353, $amount: 21);
            }
        }
        &__img {
            height: 250px;
            position: absolute;
            top: 12%;
            left: 10%;
            border-radius: 20px;
        }
        &__subtitulo {
            position: absolute;
            font-size: 1.1rem;
            color: rgba(255, 255, 255, 0);
            bottom: 4%;
            left: 8.5%;
            font-family: 'DM Serif Display', serif;            
        }
    }
    &-pattiserie {
        &__img {
            height: 250px;
            position: absolute;
            top: 12%;
            right: 10%;
            border-radius: 20px;
        }
        &__titulo {
            text-decoration: underline;
            color: #8e3f3f;
            margin: 0 0 0 2%;
            font-family: 'Playfair Display', serif;
            font-weight: 400;
            position: absolute;
            right: 16.5%;
            top: 13%;
            font-size: 1.8rem;
            &:hover {
                text-decoration: none;
                color: darken($color: #ecc353, $amount: 21);
            }
        }
        &__subtitulo {
            position: absolute;
            font-size: 1.3rem;
            color: rgba(255, 255, 255, 0);
            font-family: 'DM Serif Display', serif;
            left: 55%;
            top: 20%;    
        }
    }
}

.abajoder {
    grid-area: der2;
    position: relative;
    &-cafe {
        &__img {
            height: 250px;
            border-radius: 20px;
            position: absolute;
            top: 12%;
            right: 10%;
        }
        &__titulo {
            text-decoration: underline;
            color: white;
            margin: 0 0 0 2%;
            font-family: 'Playfair Display', serif;
            font-weight: 400;
            position: absolute;
            right: 15.5%;
            bottom: 11%;
            font-size: 1.8rem;
            &:hover {
                text-decoration: none;
                color: darken($color: #ecc353, $amount: 21);
            }
        }
        &__subtitulo {
            position: absolute;
            font-size: 1rem;
            color: rgba(255, 255, 255, 0);
            bottom: 5%;
            left: 18%;
            font-family: 'DM Serif Display', serif;
        }
    }    
}
/*ANIMACIONES ABAJO --> PANADERIA/PATTISERIE/CAFE*/
.abajoizq-pattiserie__img,
.abajoizq-pattiserie__titulo,
.abajoizq-pattiserie__subtitulo,
.abajoizq-panaderia__img,
.abajoizq-panaderia__titulo,
.abajoizq-panaderia__subtitulo,
.abajoder-cafe__img,
.abajoder-cafe__titulo,
.abajoder-cafe__subtitulo {
    transition: all 1s ease;
}
.abajoizq-pattiserie:hover .abajoizq-pattiserie__img {
    transform: scale(1.05);
}
.abajoizq-pattiserie:hover .abajoizq-pattiserie__titulo {
    transform: translateY(-40%);
}
.abajoizq-pattiserie:hover .abajoizq-pattiserie__subtitulo {
    color: #8e3f3f
}
.abajoizq-panaderia:hover .abajoizq-panaderia__img {
    transform: scale(1.05);
}
.abajoizq-panaderia:hover .abajoizq-panaderia__titulo {
    transform: translateY(-40%);
}
.abajoizq-panaderia:hover .abajoizq-panaderia__subtitulo {
    color: rgba(255,255,255,1);    
}
.abajoder-cafe:hover .abajoder-cafe__img {
    transform: scale(1.05);
}
.abajoder-cafe:hover .abajoder-cafe__titulo {
    transform: translateY(-40%);
}
.abajoder-cafe:hover .abajoder-cafe__subtitulo {
    color: rgba(255,255,255,1);
}



.masterclass {
    margin: 0 0% 0.7% 2.2%;
    grid-column: 2/4;
    background-color: white;
    &__titulo {
        text-decoration: underline;      
        font-weight: 400;    
        font-size: 1.8rem;
        font-family: 'Nanum Myeongjo', serif;
        color: black;
        margin: 5% 0 0 0;
        text-align: center;        
    }
    &__parrafo {
        color: black;
        margin: 5% 0 0 2%;
        font-family: 'Quicksand', sans-serif;        
        font-weight: bold;
    }
    &__reseña1 {
        color: black;
        font-family: 'Cormorant Garamond', serif;
        text-align: center;
        font-size: x-large;
        font-style: italic;
    }
    &__reseña2 {
        color: black;
        text-align: center;
        font-family: 'Cormorant Garamond', serif;
    }
}
nav .breadcrumb {
    margin-bottom: 0;
    }

.video  {
    grid-area: video1;
    &__masterclass {        
        margin: 0 0 0 3%;
    }
}

.aside {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
    &__links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    & a {
        color: #686c71;        
    }
    & .animacionepicurious {
        display: flex;
        align-items: center;
        margin: 0 5% 0 0;
    }
    & .animaciontaste {
        display: flex;
        align-items: center;
        margin: 0 5% 0 0;
    }
    & .animacionatk {
        display: flex;
        align-items: center;
        margin: 0 5% 0 0;
    }
    & .animacionfood {
        display: flex;
        align-items: center;
        margin: 0 5% 0 0;
    }
    
}
.aside a:hover {
    text-decoration: none;
    color: darken($color: #686c71, $amount: 21);
}


.asideFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 10px 0;
    background-color: white;
    & h2 {
        padding: 5px;
        text-align: center;
        margin: 0;
        font-family: 'Source Serif Pro', serif;
        font-weight: 400;
    }
}

/*ANIMACION ASIDE*/
#TrianguloAzul1,
#TrianguloAzul2,
#TrianguloVerde {
    transition: all 1s ease;
}

#TrianguloAzul1 {
    transform: translateX(-100%);    
}


.animacionepicurious:hover  #TrianguloAzul2 {
    transform: translateX(20%);  
}

.animacionepicurious:hover  #TrianguloVerde {
    transform: translateX(40%);  
    opacity: 0;
}
.animacionepicurious:hover  #TrianguloAzul1 {
    transform: translateX(5%);  
}
.animacionatk:hover  #TrianguloAzul2 {
    transform: translateX(20%);  
}

.animacionatk:hover  #TrianguloVerde {
    transform: translateX(40%);  
    opacity: 0;
}
.animacionatk:hover  #TrianguloAzul1 {
    transform: translateX(5%);  
}
.animaciontaste:hover  #TrianguloAzul2 {
    transform: translateX(20%);  
}

.animaciontaste:hover  #TrianguloVerde {
    transform: translateX(40%);  
    opacity: 0;
}
.animaciontaste:hover  #TrianguloAzul1 {
    transform: translateX(5%);  
}
.animacionfood:hover  #TrianguloAzul2 {
    transform: translateX(20%);  
}

.animacionfood:hover  #TrianguloVerde {
    transform: translateX(40%);  
    opacity: 0;
}
.animacionfood:hover  #TrianguloAzul1 {
    transform: translateX(5%);  
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-grow: inherit;
    color: cornsilk;
    text-align: center;
    background-color: rgb(26, 24, 24);
    margin: 0;
    padding: 0 0 10px 0;
    &__1 {    
        align-self: center;
     }
     
     &__1 p {
        margin: 0;
     }
     
     &__2 {
         margin: 0 0 0 10%;
     } 
} 

form .form-group {
   margin: 0;
   padding: 0;
   height: 55px;
   
}

label {
   margin-top: 10px;
}


.emailinput {
    margin: 5% 1% 0 0;
}

                                                /*  RECETAS  */
.bodyrecetas {
    background-color: #F0F0F0;
}
.h1recetas {
    margin: 10px 0 10px 37%;   
    background-color: cornsilk;
    border-radius: 20px;
    width: 28%;
    &__titulo {
        text-align: left;
        margin: 0 0 0 15px;
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
    }
}



#recetas {
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "izq1 der1"
                         "izq2 der2"
                         "izq3 der3";    */
    display: flex;
    flex-direction: column;
}
.beef {
    grid-area: izq2;
    position: relative;
    &__img {
        height: 425px;
        margin: 0 0 0 23%;
    }
    &-descripcion {
        position: absolute;
        bottom: -25%;
        background-color: #ffffff;
        margin: 0 25% 0 25%;
        border-bottom: 5px solid #77E2E1;  
        &__titulo {    
            color: black;
            border-radius: 10px;
            text-align: center;            
            font-family: 'Playfair Display', serif;        
            padding: 1% 1% 1% 1%;        
        }
        
        &__parrafo {
            color: black;        
            font-size: 1.2rem;              
            font-family: inherit;                
            text-align: center;   
        }        
    }
    /*&__table {
        @extend .steak__table;
        &--TH {
            @extend .steak__table--TH;
        }
    }        */
}
.steak {    
    position: relative;
    &__img {
        height: 475px;
        margin: 12% 0 0 23.5%;
    }
    &-descripcion {
        @extend .beef-descripcion;
        bottom: -8%;
        left: 11%;
        &__titulo {    
            @extend .beef-descripcion__titulo;    
        }        
        &__parrafo {
            @extend .beef-descripcion__parrafo;  
        }        
    }
    /*&__table {
        @extend .steak__table;
        &--TH {
            @extend .steak__table--TH;
        }
    }        */
}
.chicken {    
    position: relative;
    &__img {
        height: 475px;
        margin: 12% 0 0 23.5%;
    }
    &-descripcion {
        @extend .beef-descripcion;
        bottom: -8%;
        left: 5%;
        &__titulo {    
            @extend .beef-descripcion__titulo;    
        }        
        &__parrafo {
            @extend .beef-descripcion__parrafo;  
        }        
    }
    /*&__table {
        @extend .steak__table;
        &--TH {
            @extend .steak__table--TH;
        }
    }        */
}
.boton {
    height: 200px;
    .btn-success {
        margin: 8% 0 0 45%;
    }
}

.footerbottom {
    height: 50px;
    background-color: black;
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas: "izq centro der";
    &__izq {
        align-self: center;
        justify-self: center;
        grid-area: izq;
    }
    
    &__der {
        align-self: center;        
        grid-area: centro;        
        margin: 0 0 0 15%;
    }
    
    .fa-facebook-f {
        font-size: 20px;
        color: white;        
        margin: 0 0 0 45px;
    }
    .fa-copyright {
        font-size: 20px;
        color: white;    
        margin: 0 0 0 25%;            
        
    }
    .fa-instagram {
        font-size: 20px;
        color: white;
        margin: 0 0 0 15px;
    }
    .fa-twitter {
        font-size: 20px;
        color: white;
        margin: 0 0 0 15px;
    }
    .fa-envelope {
        font-size: 20px;
        color: white;
        margin: 0 0 0 15px;
    }
}

                                                /*  TECNICAS 1  */
.bodytecnicas1 {
    
}
.gridtecnicas1 {
    display: grid;     
    grid-template-columns: 1fr 1fr 1fr;     
    grid-column-gap: 10px;
    justify-items: right;
    align-items: flex-end;
    width: 100%;    
}

.h1tecnicas1 {
    @extend .h1recetas;
    width: 26%;
}

.h1tecnicas1__titulo {
    @extend .h1recetas__titulo;
}
.merengue__titulo {      
        background-color: cadetblue;
        border-radius: 10px;
        text-align: center;
        margin-right: 100px;
        margin-left: 100px;    
        color: white;
}
.cremapastelera__titulo {      
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;    
    color: white;
}
.marinadohierbas__titulo {      
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;    
    color: white;
}
body {
    //background-image: url(../images/background4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
    background-position-x: right;
    margin: 0px;    
    height: 100%;
    background-color: #f0f0f0;
}
html {
    height: 100%;
}

p {
    margin-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 25px;
    word-spacing: 2px;
    color: white;
}

article {
    margin-top: 0px;
}

article h3 {
    color: rgb(255, 255, 255);
}

.page-wraper {
    min-height: 100%;
}

                                                /*  TECNICAS 2  */

.h1tecnicas2 {
    @extend .h1recetas;
}

.h1tecnicas2__titulo {
    @extend .h1recetas__titulo;
}
.gridtecnicas2 {
    display: grid;     
    grid-template-columns: 1fr 1fr 1fr;     
    grid-column-gap: 10px;
    justify-items: right;
    align-items: flex-end;
    width: 100%;    
}
.cremamuselina__titulo {      
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;    
    color: white;
}
.salsaholandesa__titulo {      
background-color: cadetblue;
border-radius: 10px;
text-align: center;
margin-right: 100px;
margin-left: 100px;    
color: white;
}
.ahumadocarnes__titulo {      
background-color: cadetblue;
border-radius: 10px;
text-align: center;
margin-right: 100px;
margin-left: 100px;    
color: white;
}

                                                /*  GALERIA  */

.h1galeria {
    @extend .h1recetas;
    width: 12.5%;
}

.h1galeria__titulo {
    @extend .h1recetas__titulo;
    text-align: left;
    margin: 1% 0 0 1%;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    background-color: cornsilk;
    border-radius: 20px;
    width: max-content;
    padding: 0.5%;
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel .carousel-item {
    height: 500px;
}
body {
    background-color: #f0f0f0;
}

                                        /*  MEDIAQUERIES  */

@mixin mediah1 ($justify-self,$font-family,$align-self,$color,$margin,$transition,$font-size) {
    justify-self: $justify-self;
    font-family: $font-family;
    align-self: $align-self;
    color: $color;
    margin: $margin;
    transition: $transition;
    font-size: $font-size;
}

 @media only screen and (max-width: 320px) {
    .header {
        &__titulo {
        @include mediah1(center, "Dancing Script", center, #ad0010, 0 0 0 10px, 2s, 1.5rem);
        }
        &__img {
            height: 105px;
            margin: 0 0 0 10px;
        }
        &__subtitulo {
            font-size: 80%;
            margin: 0 0 0 0px;
            color: white;
            background-color: #3e494b70;
        }
    }       

    body {         
        background-image: none;
        background-repeat: no-repeat;
        background-size:cover;
        background-position-y: center;
        background-position-x: center;
        margin: 0px;
        background-color: #f0f0f0;
    }
     .nav {
         justify-content: space-evenly;
         position: relative;
         margin-left: auto;
         width: 100%;
     }
     .section {
         display: flex;
         flex-direction: column;
     }
     .novedades {
         display: flex;
         flex-direction: column;
         &__titulo {
             .novedades__h2 {
                margin: 2% 2% 0 25%;
             }
             .novedades__introduccion {
                text-align: center;
             }
         }
         &-izq {
            margin: 4% 0.7% 0 0;
            position: relative;
            right: 8%;
            &__cajaparrafo {
                width: 99%;
            }
            &__h6 {
                left: 42%;
                top: 58%;
            }
            &__parrafo {
                top: 73%;
                left: 1%;
            }
         }
         &-centro {
            position: relative;
            right: 9%;
            &__cajaparrafo {
                width: 99%;
            }
            &__parrafo {
                top: 72%;
                right: -7%;
            }
            &__h6 {
                right: 17%;
                top: 62%;
            }
         }
         &-der {
            margin: 2% 5% 5% 0;
             &__cajaparrafo {
                width: 98.2%;
             }
             &__parrafo {
                top: 70%;
                right: -3%;
             }
             &__h6 {
                top: 63%;
                right: 10%;
             }
         }

     }

     .video {
         &__masterclass {
             width: 300px;
             margin: 0 0 0 3%;
         }
     }
     .aside {
         display: flex;
         flex-direction: column;
     }

     .asideFlex h2 {
         font-size: 100%;
     }
     .aside__links {    
        display: inline-block;        
    }
     .aside__links li {
        margin: 0;
    }

     .article  {
        width: 100%;
        margin: auto;        
        line-height: 20px;
        word-spacing: 2px;
        &__parrafo {
            background-color: rgba(51, 152, 170, 0.7);
            margin-right: 10px;
        }
     }    
     
     .footer {
         font-size: 72%;
         line-height: normal;
         line-height: 1;
         margin: auto;
         align-items: right;         
         flex-wrap: wrap;
         &__2 {
            font-size: 80%;
            margin: 0;
        }     
     }
     .footerbottom__der {
        align-self: center;
        grid-area: centro;
        margin: 0 0 0 0;
        font-size: 65%;
    }
     .footerbottom__izq  {
         justify-self: left;
        .fa-facebook-f {
            font-size: 75%;
            margin: 0 0 0 25px;
        }
        .fa-instagram {
            font-size: 75%;
        }
        .fa-twitter {
            font-size: 75%;
        }
        .fa-envelope {
            font-size: 75%;
        }
    }

     #exampleformcontroltextarea1 {
         width: 90%;
         margin: 0 0 0 5%;
     }

     .btn-primary {
         margin: 5% 0 0 0;
     }

     .aside {
         margin: auto;
         width: 80%;
     }

     form .form-group {
        margin: 0 2% 0 0;
        padding: 0;
        height: 3rem;
    }

     /*RECETAS*/
     
     .h1recetas {       
            width: 100%;
            background-color: rgba(255,255,255,0);
        &__titulo {
            margin: 10px 0 10px 75px;
            background-color: cornsilk;
            border-radius: 20px;
            width: 46%;
            font-size: 100%;
        }
     }
     #recetas {
         display: flex;
         flex-direction: column;
     }
     .steak {
         &__titulo {
            font-size: 1.5rem;
         }
         &__parrafo {
             margin-right: 0.7rem;
         }
     }
     .beef {
        &__titulo {
           font-size: 1.2rem;
        }
    }
    .chicken {
        &__titulo {
           font-size: 1.5rem;
        }
    }
    table {
        width: max-content;
    }
    li , td {
        font-size: 0.7rem;
    }
    th {
        font-size: 0.7rem;
    }
    /*TECNICAS BASICAS*/

    .gridtecnicas1 {
        display: flex;
        flex-direction: column;
        .p {
            color: black;
            margin: 0 5% 0 5%;
            letter-spacing: 0;
            word-spacing: 0;
        }
    }
    .h1tecnicas1__titulo {
        margin: 10px 15px 10px 90px;
        background-color: cornsilk;
        border-radius: 20px;
        width: 38%;
        font-size: 100%;
    }
    /*TECNICAS AVANZADAS*/

    .gridtecnicas2 {
        display: flex;
        flex-direction: column;
        .p {
            color: black;
            margin: 0 5% 0 5%;
            letter-spacing: 0;
            word-spacing: 0;
        }
        h3 {
            text-align: center;
        }
    }
    .h1tecnicas2__titulo {
        margin: 10px 0 10px 90px;
        background-color: cornsilk;
        border-radius: 20px;
        width: 35%;
        font-size: 100%;
        text-align: center;
    }
    .carousel-item .h-100 {
        height: 30% !important;
    }
    .h1galeria__titulo {
        margin: 0 40px 0 75px;
        background-color: cornsilk;
        border-radius: 20px;
        width: 50%;
        font-size: 100%;
        text-align: center;
    }
 }

 @media only screen and (min-width: 321px) and (max-width: 576px) {
     .header {
        &__titulo {
                @include mediah1(center, "Dancing Script", baseline, #ad0010, 1.5rem 0 0 0, 2s, 45px);
        }
        &__subtitulo {
               justify-self: left;
               align-self: center;
               font-family: 'Poppins', sans-serif;
               color: rgb(255, 255, 255);
               font-size: 100%;
               background-color: rgba(255,255,255,0);
               margin: 0;
           }
           &__img {
               height:103px;
           }
        }         
     
    .article {
        &__titulo {
            font-family: 'Source Serif Pro', serif;
        }
        &__parrafo {
        background-color: rgba(51, 152, 170, 0.7);
        margin: 0 2% 0 2%;
        }
        &__img {
            margin: 5% 0 0 26%;
        }    
    }
    #recetas {
        display: flex;
        flex-direction: column;
    }
    .h1recetas {
        width: 0;
        margin: 2% 0 2% 16%;
        &__titulo {
            width: max-content;
            font-family: 'Source Serif Pro', serif;
        }
    }
    .steak {
        &__table {
            margin: 0 0 0 25%;
        }
    }
    .gridtecnicas1 {
        display: flex;
        flex-direction: column;
        .p {
            color: black;
        }
    }
    .h1tecnicas1 {
        width: 0;
        margin: 2% 0 2% 19%;
        &__titulo {           
            width: max-content;
        }
    }
    .gridtecnicas2 {
        display: flex;
        flex-direction: column;
        .p {
            color: black;
        }
        h3 {            
            background-color: cadetblue;
            border-radius: 10px;
            text-align: center;
            margin-right: 100px;
            margin-left: 100px;
            color: white;
        }
    }

    .aside:hover {
        width: 90%;
    }
    .aside {
        display: flex;
        flex-direction: column;        
        width: 90%;
        border-radius: 20px;
        transition: 2s;    
        justify-content: center;
        h2 {
            font-family: 'Source Serif Pro', serif;
        }
    }
    .footer__1 {
        margin: 0 2% 0 10%;
    }
    .footer__2 {
        margin: 0 9% 0 0;
    }
    .nombreinput {
        margin: 0 0 5% 0;
    }
    .emailinput {
        margin: 20% 2% 0 0;
    }
    body {
        background-image: url(../images/background4.jpg);    
        background-repeat: no-repeat;
        background-size:auto;
        background-position-y: center;
        background-position-x: center;
        margin: 0px;
        background-color: #f0f0f0;
    }
    .form-group .form-text {
        margin: 20% 0 0 0 ;
    }
    .dejanostuconsulta {
        line-height: 100%;
    }
 }

 @media only screen and (min-width: 600px) and (max-width: 768px) {
    body {
        background-image: url(../images/background4.jpg);    
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: top;
        background-position-x: right;
        margin: 0px;
        background-color: #f0f0f0;
        
    }
     .header {
         grid-template-columns: 1fr 0.5fr 1fr;
         &__titulo {
             @include mediah1(center, "Dancing Script", center, white, 0 0 0 10px, 2s, 60px)
         }
         &__img {
             height: 103px;
         }
         &__subtitulo {
             font-size: 25px;
         }
     }
     .nav {
         margin:auto;        
     }
     .nav a {
         margin: auto;
         font-size: small;
         padding: 0;
     }
     .nav li {
         display: inline;
         
     }
     .aside {
        margin-left: 100px;
        margin-right: 100px;
        width: 90%;
    }
    .emailinput {
        margin: 12.5% 1.5% 0 0;
    }
    .footer__2 {
        margin: 0 10px;
    }
        
 }

 @media only screen and (min-width: 769px) and (max-width: 992px) {
        .aside {
            margin-left: 300px;
            margin-right: 300px;
        }
        .nav {
            margin:auto;
        }
        .nav a {
            font-size: 85%;
        }
 }