/*Variables*/



/*Inicio*/

.header {     
    height: 103px;
    width: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;    
    justify-content:space-evenly;
    margin: 0px;
    padding: 0px;   
    background-image: url(../spices.jpg);
    background-size: cover;
    background-position-y: center;
    /*background: rgb(251,246,208);
    background: linear-gradient(180deg, rgba(251,246,208,1) 0%, rgba(246,215,141,0.9752275910364145) 54%, rgba(255,195,89,1) 96%);*/
    &__logo {
        margin: 0;
        justify-self: center; 
        
    }
    &__subtitulo {
        justify-self: left;
        align-self: center;
        font-family: 'Source Serif Pro', serif;
        color: #10626a;
        font-size: 25px;
        margin: 83px 0 0 70px;
        background-color: #e9ecef;
        border-radius: 7px;
        padding: 4px;
        text-align: center;
    }
    &__titulo {
        color: #ad0010;
        justify-self: center;
        font-family: 'Dancing Script', cursive;
        align-self:flex-start;
        font-size: 100px;              
        margin: 0 0 0 50px;
        transition: 2s;
    }
    &__img {
        height: 150px;
    }
    &__titulo:hover {
        transform: translate(40px,10px);
    }
}  

.article__titulo {
    text-decoration: underline;    
    color: rgb(255, 255, 255);    
    margin: 0 0 0 2%;
    font-family: 'Orelega One', cursive;
    font-weight: 400;       
}

.section {
    margin: 0;   
    background-image: url(../background4.jpg);
    background-size: cover;
}
.descripcion {
    background-image: url(./pasta1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 110px;
    &__parrafo {
        margin: 0 5% 0 5%;
        text-align: center;       
        align-self: center;
        font-family: 'Antonio', sans-serif;
        font-size: 25px;
    }
    &__titulo {
        font-family: 'Zilla Slab Highlight', cursive;
        text-align: center;
        color: #3e494b;
        margin: 0 0 0 3%;
    }

}
nav .breadcrumb {
    margin-bottom: 0;
}
.aside {
    display: flex;
    flex-direction: column;
    /*background-color: #fbcb97f2;*/    
    width: 50%;
    border-radius: 20px;
    transition: 2s;    
    justify-content: center;
    &:hover {
        width: 75%;
    }
    &__links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    & a {
        line-height: 25px;
        font-size: 15px;
        margin-left: 0;
        padding: 0;
    }
    & h2 {
        padding: 5px;
        text-align: center;
        margin: 0;
    }
    & li {
        margin-bottom: 10px;
    }
}


.asideFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 10px 0;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-grow: inherit;
    color: cornsilk;
    text-align: center;
    background-color: rgb(26, 24, 24);
    margin: 0;
    padding: 0 0 10px 0;
} 

form .form-group {
   margin: 0;
   padding: 0;
   height: 55px;
   
}

label {
   margin-top: 10px;
}

.footer1 {    
   align-self: center;
}

.footer1 p {
   margin: 0;
}

.footer2 {
    margin: 0 0 0 10%;
} 
.emailinput {
    margin: 5% 1% 0 0;
}

                            /*  Recetas  */

.h1recetas {
    margin: 10px  0  10px  10px;   
    background-color: cornsilk;
    border-radius: 20px;
    width: 30%;
    &__titulo {
        text-align: left;
        margin: 0 0 0 15px;
        font-family: 'Quicksand', sans-serif;
    }
}



#recetas {
    display: flex;
    flex-direction: row;     
    flex-wrap: nowrap;
    justify-content: center;        
    flex-basis: 50px;
    
}
.steak {
    &__titulo {    
        background-color: cadetblue;
        border-radius: 10px;
        text-align: center;
        margin-right: 100px;
        margin-left: 100px;
    }
    &__table {
        margin-left: 10px;
        background-color: rgb(252, 246, 235);
        &--TH {
            background-color: cadetblue;
            color: white;
            text-align: center;
        }
    }        
    &__parrafo {
        background-color: rgba(51, 152, 170, 0.7);    
        border: solid 1px rgba(255,255,255,0.5);   
        
    }
}

.beef {
    &__titulo {    
        @extend .steak__titulo;
    }
    &__table {
        @extend .steak__table;
        &--TH {
            @extend .steak__table--TH;
        }
    }        
    &__parrafo {
        @extend .steak__parrafo;       
    }
}

.chicken {
    &__titulo {    
        @extend .steak__titulo;
    }
    &__table {
        @extend .steak__table;
        &--TH {
            @extend .steak__table--TH;
        }
    }        
    &__parrafo {
        @extend .steak__parrafo;       
    }
}

#recetas h3 {
    color: rgb(255, 255, 255);        
}

.footresto {
    height: 75px;
    background-color: black;
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas: "izq centro der";
    &__izq {
        align-self: center;
        justify-self: left;
        grid-area: izq;
    }
    &__der {
        align-self: center;
        justify-self: center;
        grid-area: centro;
    }
    .fa-facebook-f {
        font-size: 20px;
        color: white;        
        margin: 0 0 0 45px;
    }
    .fa-copyright {
        font-size: 20px;
        color: white;    
        margin-right: 70px;            
        
    }
    .fa-instagram {
        font-size: 20px;
        color: white;
        margin: 0 0 0 15px;
    }
    .fa-twitter {
        font-size: 20px;
        color: white;
        margin: 0 0 0 15px;
    }
    .fa-envelope {
        font-size: 20px;
        color: white;
        margin: 0 0 0 15px;
    }
}

                            /*  Tecnicas 1  */

.gridtecnicas1 {
    display: grid;     
    grid-template-columns: 300px 300px 300px;     
    grid-column-gap: 10px;
    justify-items: right;
    align-items: flex-end;
    width: 100%;    
}

.h1tecnicas1 {
    @extend .h1recetas;
    width: 26%;
}

.h1tecnicas1__titulo {
    @extend .h1recetas__titulo;
}

body {
    background-image: url(./background4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
    background-position-x: right;
    margin: 0px;
    
}

p {
    margin-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 25px;
    word-spacing: 2px;
    color: white;
}

article {
    margin-top: 0px;
}

article h3 {
    color: rgb(255, 255, 255);
}

                         /*  Tecnicas 2  */

.h1tecnicas2 {
    @extend .h1recetas;
}

.h1tecnicas2__titulo {
    @extend .h1recetas__titulo;
}

                            /*  Galeria  */

.h1galeria {
    @extend .h1recetas;
    width: 12.5%;
}

.h1galeria__titulo {
    @extend .h1recetas__titulo;
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel .carousel-item {
    height: 500px;
}


                            /*  MediaQueries  */

@mixin mediah1 ($justify-self,$font-family,$align-self,$color,$margin,$transition,$font-size) {
    justify-self: $justify-self;
    font-family: $font-family;
    align-self: $align-self;
    color: $color;
    margin: $margin;
    transition: $transition;
    font-size: $font-size;
}

 @media only screen and (max-width: 320px) {
    .header {
        &__titulo {
        @include mediah1(center, "Dancing Script", center, #ad0010, 0 0 0 10px, 2s, 1.5rem);
        }
        &__img {
            height: 105px;
            margin: 0 0 0 10px;
        }
        &__subtitulo {
            font-size: 80%;
            margin: 0 0 0 0px;
            color: white;
            background-color: rgba(255,255,255,0);
        }
    }       

    body {
        background-image: url(/CSS/background4.jpg);    
        background-repeat: no-repeat;
        background-size:cover;
        background-position-y: center;
        background-position-x: center;
        margin: 0px;
    }
     .nav {
         justify-content: space-evenly;
         position: relative;
         margin-left: auto;
         width: 100%;
     }
     .aside__links {    
        display: inline-block;        
    }
     .aside__links li {
        margin: 0;
    }

     .article  {
        width: 100%;
        margin: auto;        
        line-height: 20px;
        word-spacing: 2px;
        &__parrafo {
            background-color: rgba(51, 152, 170, 0.7);
            margin-right: 10px;
        }
     }    
     
     .footer {
         font-size: 72%;
         line-height: normal;
         line-height: 1;
         margin: auto;
         align-items: right;         
         flex-wrap: wrap;
     }
     .footer2 {
         font-size: 80%;
         margin: 0;
     }     

     #exampleformcontroltextarea1 {
         width: 90%;
         margin: 0 0 0 5%;
     }

     .btn-primary {
         margin: 5% 0 0 0;
     }

     .aside {
         margin: auto;
         width: 80%;
     }
     /*Recetas*/
     body {
         background-image: url(./background4.jpg);
     }
     .h1recetas {       
            width: 100%;
            background-color: rgba(255,255,255,0);
        &__titulo {
            margin: 10px 0 10px 75px;
            background-color: cornsilk;
            border-radius: 20px;
            width: 50%;
            font-size: 100%;
        }
     }
     #recetas {
         display: flex;
         flex-direction: column;
     }
     .steak {
         &__titulo {
            font-size: 1.5rem;
         }
     }
     .beef {
        &__titulo {
           font-size: 1.2rem;
        }
    }
    .chicken {
        &__titulo {
           font-size: 1.5rem;
        }
    }
    table {
        width: max-content;
    }
    li , td {
        font-size: 0.7rem;
    }
    th {
        font-size: 0.7rem;
    }
 }

 @media only screen and (min-width: 321px) and (max-width: 576px) {
     .header {
        &__titulo {
                @include mediah1(center, "Dancing Script", baseline, #ad0010, 1.5rem 0 0 0, 2s, 45px);
        }
        &__subtitulo {
               justify-self: left;
               align-self: center;
               font-family: 'Poppins', sans-serif;
               color: rgb(255, 255, 255);
               font-size: 100%;
               background-color: rgba(255,255,255,0);
               margin: 0;
           }
           &__img {
               height:103px;
           }
        }         
     
    .article__parrafo {
        background-color: rgba(51, 152, 170, 0.7);
    }

    .aside:hover {
        width: 90%;
    }
    .aside {
        display: flex;
        flex-direction: column;        
        width: 90%;
        border-radius: 20px;
        transition: 2s;    
        justify-content: center;
    }
    .footer1 {
        margin: 0 2% 0 10%;
    }
    .footer2 {
        margin: 0 9% 0 0;
    }
    .nombreinput {
        margin: 0 0 5% 0;
    }
    .emailinput {
        margin: 20% 2% 0 0;
    }
    body {
        background-image: url(/CSS/background4.jpg);    
        background-repeat: no-repeat;
        background-size:auto;
        background-position-y: center;
        background-position-x: center;
        margin: 0px;
    }
    .form-group .form-text {
        margin: 20% 0 0 0 ;
    }
    .dejanostuconsulta {
        line-height: 100%;
    }
 }

 @media only screen and (min-width: 600px) and (max-width: 768px) {
    body {
        background-image: url(/CSS/background4.jpg);    
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: top;
        background-position-x: right;
        margin: 0px;
        
    }
     .header {
         grid-template-columns: 1fr 0.5fr 1fr;
         &__titulo {
             @include mediah1(center, "Dancing Script", center, white, 0 0 0 10px, 2s, 60px)
         }
         &__img {
             height: 103px;
         }
         &__subtitulo {
             font-size: 25px;
         }
     }
     .nav {
         margin:auto;        
     }
     .nav a {
         margin: auto;
         font-size: small;
         padding: 0;
     }
     .nav li {
         display: inline;
         
     }
     .aside {
        margin-left: 100px;
        margin-right: 100px;
        width: 90%;
    }
    .emailinput {
        margin: 12.5% 1.5% 0 0;
    }
    .footer2 {
        margin: 0 10px;
    }
        
 }

 @media only screen and (min-width: 769px) and (max-width: 992px) {
        .aside {
            margin-left: 300px;
            margin-right: 300px;
        }
        .nav {
            margin:auto;
        }
        .nav a {
            font-size: 85%;
        }
 }