
                                /*  Home  */

.header h1 {
    color: white;
    justify-self: center;
    font-family: 'Dancing Script', cursive;
    align-self:flex-start;
    font-size: 100px;
    color: rgb(255, 255, 255);       
    margin: 0 0 0 50px;
    transition: 2s;
}
.header h1:hover {
    transform: translate(40px,10px);
}
.header h4 {
    justify-self: left;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}

h3 {
    text-decoration: underline;
    text-decoration-style: double;
    color: rgb(255, 255, 255);    
    margin: 10px;
    /*width: 100px;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: large;
    letter-spacing: 2px;
    
}

.logo {
    /*justify-self: flex-end;*/
    /*flex-basis: 500px;*/
    margin: 0;
    justify-self: center;    
}


.header { 
    height: 103px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    justify-content:space-evenly;
    margin: 0px;
    padding: 0px;   
    background: rgb(251,246,208);
    background: linear-gradient(180deg, rgba(251,246,208,1) 0%, rgba(246,215,141,0.9752275910364145) 54%, rgba(255,195,89,1) 96%);
}
   

.nav {
    background-color: rgb(250, 179, 71);
    color: rgb(255, 248, 248);
    width: 30%;
    height: 40%;
    margin-top: 20px;
    margin-left: 450px;
    border: thin;
    border-radius: 30px;        
    transition: width 2s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        
}

.nav:hover {
    width: 500px;
}
.nav a {
    color:white;
    font-weight: 600;
    font-size: 100%;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'raleway' , sans-serif;
    margin:0;
                            
}


.section {
    margin-left: 100px;
    margin-right: 100px;
    /*background-color: rgb(248, 231, 184);*/
}

.aside {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    /*margin: 0 300px 0 300px;*/
    width: 50%;
    border-radius: 20px;
    transition: 2s;    
    justify-content: center;
}

.aside:hover {
    width: 75%;
}

.asideLinks {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.asideFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 10px 0;
}

.aside a {    
    line-height: 25px;
    font-size: 15px;
    margin-left: 0;
    padding: 0;
}

aside h2 {
    padding: 5px;
    text-align: center;
    margin: 0;
}

.aside li {
    margin-bottom: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-grow: inherit;
    color: cornsilk;
    text-align: center;
    background-color: rgb(26, 24, 24);
    margin: 0;
    padding: 0 0 10px 0;
} 

form .form-group {
   margin: 0;
   padding: 0;
   height: 55px;
   
}

label {
   margin-top: 10px;
}

.footer1 {    
   align-self: center;
}

.footer1 p {
   margin: 0;
}

.footer2 {
    margin: 0 0 0 10%;
}

                            /*   Tecnicas 1  */

table {
    margin-left: 10px;
    background-color: rgb(241, 227, 199);
}
table th {
    color: teal;

}

body {
    background-image: url(background4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: right;
    margin: 0px;
    
}

p {
    margin-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 25px;
    word-spacing: 2px;
    color: white;
}

article {
    margin-top: 10px;
}
 
 #recetas {
     display: flex;
     flex-direction: row;     
     flex-wrap: nowrap;
     justify-content: center;        
     flex-basis: 50px;
     
 }

 .rece {
     justify-content: center;
 }

 #recetas h3 {
     color: cornsilk;
     
 }

 

                            /*  Recetas  */

.h1Recetas {
    margin: 10px  0  0  10px;   
    background-color: cornsilk;
    border-radius: 20px;
    width: 28%;
}

.h1Recetas h1 {
    text-align: left;
}

                            /*  Tecnicas 1  */

.gridTecnicas1 {
    display: grid;     
    grid-template-columns: 300px 300px 300px;     
    grid-column-gap: 10px;
    justify-items: right;
    align-items: flex-end;
    width: 100%;    
}

.h1Tecnicas1 {
    margin: 10px  0  0  10px;   
    background-color: cornsilk;
    border-radius: 20px;
    width: 25%;
}

                         /*  Tecnicas 2  */

.h1Tecnicas2 {
    margin: 10px  0  0  10px;   
    background-color: cornsilk;
    border-radius: 20px;
    width: 28%;
}

                            /*  Galeria  */

.h1Galeria {
    margin: 10px  0  0  10px;   
    background-color: cornsilk;
    border-radius: 20px;
    width: 13%;
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel .carousel-item {
    height: 500px;
}


                            /*  MediaQueries  */

 @media only screen and (max-width: 320px) {
     .nav {
         justify-content: space-evenly;
         position: relative;
         margin-left: auto;
         width: 100%;
     }

     .article  {
        width: 100%;
        margin: auto;        
        line-height: 20px;
        word-spacing: 2px;
     }

     .section {
         margin: auto;
     }

     .footer {
         font-size: 75%;
         line-height: normal;
         line-height: 1;
         margin: auto;
         align-items: right;
         
         flex-wrap: wrap;
     }

     .aside {
         margin:auto;
     }
 }

 @media only screen and (min-width: 600px) and (max-width: 768px) {
     .nav {
         margin:auto;        
     }
     .nav a {
         margin: auto;
         font-size: small;
         padding: 0;
     }
     .nav li {
         display: inline;
         
     }
     .aside {
        margin-left: 200px;
        margin-right: 200px;
    }
 }

 @media only screen and (min-width: 769px) and (max-width: 992px) {
        .aside {
            margin-left: 300px;
            margin-right: 300px;
        }
        .nav {
            margin:auto;
        }
        .nav a {
            font-size: 85%;
        }
 }
 
 
 
 
